[2018-04-11 00:11] userjeff3 commented on #61
I changed the double escaped URL configuration as instructed in the link. Same result.

The build agent is on the same server as TFS. Everything is within our organization's intranet. I don't know how to send the request manually.

We do have a new security team. I wonder if they've fiddled with something.

[2018-04-11 08:32] #64 closed

[2018-04-12 17:02] huserben commented on #61
Oh ok, too bad. Honestly I've never seen that error before and it feels like it has to be some setting on your TFS/IIS side (as it works on other TFS instances).

To send the request manually, just log on to the build agent, start a browser and open the url as you did in https://github.com/huserben/TfsExtensions/issues/61#issuecomment-379928418

Otherwise maybe you could check with your security t

[2018-04-16 15:44] auctiontrac opened #65 "Cannot read property 'trim' of undefined"
When running a triggered build I get the following error

![image](https://user-images.githubusercontent.com/7092400/38820255-62652536-416b-11e8-8ba9-d538cc16a381.png)

I think it may have something to do with our builds having spaces in their names.

[2018-04-16 16:14] huserben commented on #65
Hi

could you please post the full log of the Task.
Ideally you set the system.debug variable to true before, so I can see in detail whats happening.

However the spaces should not be an issue.

[2018-04-16 16:30] thomasonb commented on #65
Hi sorry when I posted that original issue I was in the wrong account but here are is the log for that task.

[TriggeredBuildLog.txt](https://github.com/huserben/TfsExtensions/files/1916270/TriggeredBuildLog.txt)

[2018-04-16 16:36] thomasonb commented on #65
Another thing that is interesting (I can make a new issue is necessary) is that even though I've told it to fail the build when the tasks fail, it still continues with the build in this instance. This could be a side effect of the error I receive since it's failing before the tasks are fired?

[2018-04-16 17:11] huserben commented on #65
Hi

thanks for the logs. It shows that at least the build seems to be triggered - I'll need to check in more detail what exactly is wrong and try to recreate the problem locally. The ony "special" thing I can see are the "-" in the name of the build definition, I will see whether this is problematic.

What exactly do you mean with "told it to fail when the task fails"?

[2018-04-16 17:51] thomasonb commented on #65
Ok so I modified what you asked and that did fix the issue, thank you.

As for the other question, under AdvancedConfiguration section there is the following checkbox.

![image](https://user-images.githubusercontent.com/3091040/38826043-a08a8502-417c-11e8-9731-dcfa93b83ac5.png)

When I was getting the 'trim' error the build would continue, I would expect the build to fail right then. I have also a

[2018-04-16 18:00] huserben commented on #65
This option is failing the Task in case the build you triggered has failed. So this has nothing todo with how to proceed after the Task has failed (refer as well to the documentation "Wait for Completion of Triggered Builds" in the [Task Overview](https://marketplace.visualstudio.com/items?itemName=benjhuser.tfs-extensions-build-tasks).

What happens is that the Task is failing "properly" (it is i

[2018-04-16 18:02] thomasonb commented on #65
Ok I will look into that, thanks for your help!

[2018-04-16 18:03] huserben commented on #65
No problem. I just now updated the task so it will print out a more meaningful message in case wrongly specified parameters are setup.

Thank you for your input and please don't hestitate to open another issue if you find a problem, you have a change request or simply a question.

[2018-04-16 18:03] #65 closed

[2018-04-16 18:38] silvath opened #66 "Error: Cannot find module 'tfsrestservice'"
Hi,

I think that something may be incorrect in this latest version 2.8.1.

2018-04-16T18:30:05.6920343Z ##[section]Starting: PowerPlanning
2018-04-16T18:30:05.7140599Z ==============================================================================
2018-04-16T18:30:05.7140599Z Task         : Trigger Build
2018-04-16T18:30:05.7150356Z Description  : This tasks allows to trigger a new Build (add it t

[2018-04-16 18:51] burndeal commented on #66
I'm seeing this issue as well.

[2018-04-16 19:01] huserben commented on #66
Sorry Guys, seems like something went wrong when packaging.
I hope it didn't cause too many problems for you.

Version 2.8.2 which should fix the issue is uploaded now.

Could one of you quickly test and confirm that it's working again?

[2018-04-16 19:18] silvath commented on #66
Ben,

My build is still using the version 2.8.1.  I will wait half a hour and try again.

Thiago

[2018-04-16 21:03] huserben commented on #66
I'm sorry but I don't know when VSTS is updating the extension or how to force an update of it.

[2018-04-17 05:17] huserben commented on #66
Hmm so did it finally update for you or are you still stuck with 2.8.1?

[2018-04-17 06:10] tijntje commented on #66
same problem here:

[2018-04-17 06:10] cdacamar commented on #66
Mine is still on 2.8.1. Is there any possibility that after 2.8.2 there can be a major version bump?  VSTS only allows us to lock versions on major releases (ie. 2.*) so once it's stable on 2.* it would be a major help to our team to have that version be locked.

[2018-04-17 07:02] sackum commented on #66
we are also stuck at 2.8.1, It would be a great help to us too to have 2.8.2 locked and major version bump after it. However we are still waiting for 2.8.2 to unblock our builds.

[2018-04-17 07:27] torgeirhansen commented on #66
It's a pretty big wrench in the gears then our build and deploy pipeline just dies 😱😭

[2018-04-17 07:47] huserben commented on #66
I think I found the issue and I'm working on an update...Sorry again for the issues caused by the 2.8.1 version.

[2018-04-17 07:59] huserben commented on #66
I uploaded version 2.8.3. Please let me know if it now updated and works again.

[2018-04-17 08:03] torgeirhansen commented on #66
It seems to work now, thanks for the quick fix! :)

[2018-04-17 08:09] huserben commented on #66
Ok very good. I'll wait for some others to confirm it's solved before closing the issue.

Sorry for all that mess - I'm trying to look into the packaging process and see if I can add some measures in order to prevent this fiasco from happening again.

I hope you were not blocked too much because of me.

[2018-04-17 08:31] cdacamar commented on #66
It appears to be working on our end :+1:

[2018-04-17 11:18] silvath commented on #66
Its working. Tks Ben

[2018-04-17 11:18] #66 closed

[2018-04-17 15:27] sackum commented on #66
working at our end. Thanks for the help Ben!

[2018-04-17 17:30] sackum commented on #66
Hi Ben, I noticed one small thing. marketplace shows 2.8.3 is the latest version but our build task is showing 2.8.2. It's working so no issues there, it's just version mismatch in market place and VSTS builds. I wanted to bring it to your attention so that you can try to fix it with your future changes.

PS: Not sure if we need to wait to get 2.8.2 though. Thanks!

MarketPlace:
Version | 2.8.3
--

[2018-04-17 18:29] huserben commented on #66
@sackum
Yes I'm aware of that fact and I'll align it the next time I will update the task.

[2018-04-18 13:57] jfinnegan3 opened #67 "Triggered builds building specific folders within a shelveset"
Hello again @huserben!

Thanks again for all the great work you've done!  I have another enhancement that would help me in my current situation and perhaps others as well.

I would like to trigger a build using only specific folders within a shelveset.  This way, I can user the GetSources step to get specific sources, and then only unshelve the parts of the shelveset that would be relevant to thos

[2018-04-19 17:51] huserben commented on #67
Hi @jfinnegan3

Sorry I didn't really get it, what exactly are you trying to achieve?
Is the problem that the Shelveset name is not escaped correctly when passed to the triggered build itself?
Or you want to use a variable in the GetSources step in the beginning?

Maybe you can explain it for dummies so I can understand your idea :-)

[2018-04-23 19:27] jfinnegan3 commented on #67
Not a problem @huserben,

Perhaps, looking back, I wasn't as clear as I could have been.
First, the escaping is not an issue.  I've looked into it and that field is escaped and displays correctly before the API call.

I'll break it down more:
This all starts with a Gated Check-in.  A dev goes to check their code in.  The Gated Check-in triggers 2 builds, one for each of two distinct parts of the c

[2018-04-24 18:52] mericstam opened #68 "Trigger build when agentis behind a web proxy"
Good work and a great task!
I have an issue after moving to VSTS.  I still use private on-prem buildagents.
I have set up agent with Proxy setting.  getting sources works fine but the trigger task times out trying to connect to VSTS. I have tried with all authentication options. Any Ideas?

[2018-04-24 19:51] huserben commented on #68
Hi @mericstam

could you provide the log of the task so I could have a deeper look at what's going on?

[2018-04-25 07:27] mericstam commented on #68
[TriggerBuildTask.txt](https://github.com/huserben/TfsExtensions/files/1945889/TriggerBuildTask.txt)
Here is the log from the task.  I x-ed out the vsts name for security reasons

[2018-04-26 17:13] huserben commented on #61
Hi @userjeff3

was there any development on your issue? Or is it still the same problem?

[2018-04-26 17:14] huserben commented on #59
Hi there

so did the issue happen again the last 2 weeks or does it seem to be solved by now?

[2018-04-26 17:15] huserben commented on #52
Hi @Koshak118

did you have any time to look into this?

[2018-04-26 18:02] JeffRausch commented on #59
I have not had any issues since then.  I do have debug turned on and I don't see any logging indicating retries so I assume the timeout hasn't happened since then.  I'll setup a script to check our logs to let me know if it ever encounters the retry logic, even if it succeeds with a retry.  I think this issue can be closed and if anything comes up in the future I'll let you know.  Thanks!

[2018-04-26 18:09] huserben commented on #59
Allright, yes please just let me know in case the issue is not solved.

[2018-04-26 18:09] #59 closed

[2018-04-29 03:54] patnolan opened #69 "Source Version Label"
Hi,

I have a TFS Build Definition (lets call it MasterBuild) which uses your Trigger Build task to build 3 separate Build Definitions in the appropriate order.

When I queue MasterBuild I need to use the Source Version field to specify a Label.

How do I pass this label to the Trigger Build task so all 3 Build Definitions build using the same Label?

[2018-04-30 10:49] huserben commented on #69
Hi @patnolan

If you specified a label or changeset via the source version, you can use the "Use Current Changeset" option under advanced configuration to queue the triggered builds with the same option:
![image](https://user-images.githubusercontent.com/5486874/39423979-d6f58ef4-4c74-11e8-9722-8bb7891a47c5.png)

[2018-04-30 15:23] G100g opened #70 "Fail with collection name with space"
Hi,
 thank you for your extension.

I'm using it on our projects, but if a collection has a space in the name,
the path to the api will be created with a mistake

ex.
https://tfsaxel.domain.loc/My%20Project/projectname/_apis/build/definitions?api-version=2.0&name=build-definition-name

Become

https://tfsaxel.domain.loc/My%2520Project/projectname/_apis/build/definitions?api-version=2.0&name=build-

[2018-04-30 15:26] huserben commented on #70
Hi @G100g

thanks for the report. Are you using the option to specify the url on your own instead of the using the same team project as the build is in? Because for those cases it should work as my own test collection does have spaces and this is working fine up until now at least.

[2018-04-30 15:29] G100g commented on #70
Yes, using "URL to TFS Server" option work perfectly.

[2018-04-30 15:36] huserben commented on #70
So then you paste the URL with the already escaped spaces in there? If so, could you try without the spaces?

[2018-04-30 15:41] G100g commented on #70
I used the url with escaped space and not

https://tfsaxel.domain.loc/My%20Project/projectname/
https://tfsaxel.domain.loc/My Project/projectname/

Works both.

[2018-04-30 15:55] G100g commented on #70
Here the log

[code]

[2018-04-30 16:00] G100g commented on #70
and yes, only if a don't specify the full URL

![image](https://user-images.githubusercontent.com/1582583/39437162-54eaf616-4ca0-11e8-954d-3265f356bc14.png)

[2018-04-30 16:32] huserben commented on #70
Ok, I cross checked and with my test server it's behaving differently as it's not returning me the escaped url from the environment variable but one with spaces.

I will have a closer look and probably need to build in some handling for both cases.
I'm not sure yet when I will find the time to do so, but I  hope you can use the manual URL as a work-around for the time being.

[2018-05-01 07:13] huserben commented on #70
Hi @G100g

I uploaded version 2.8.4 of the Task which should include a fix for your issue.
Would you please verify if it works or not and give me a feedback here?

[2018-05-01 07:38] G100g commented on #70
Wow. Thank you.
Today is holiday in Italy, tomorrow I will test your update in my office and I'll give you a feedback.

Best.

[2018-05-02 07:18] G100g commented on #70
Hi,
 tested new release and I confirm the task work properly now.

Thank you!

[2018-05-02 15:33] huserben commented on #70
Very good.

In case you find any other problems, or you have an idea on how to improve the task, please don't hesitate to open another issue. Thank you very much for your feedback.

[2018-05-02 15:33] #70 closed

[2018-05-02 17:06] jfinnegan3 commented on #67
Yea, it does - that's certainly good insight.
I don't know the exact variable that the unshelve command is run on, otherwise I'd alter it.

As I wrote, I tried get it to work by hacking your "Use same source branch" field (by entering: $(Build.SourceBranchName) <path>), but I believe it breaks because I added a space, so I tried encoding a space, but that didn't work either.

Is it possible you ca

[2018-05-02 17:49] huserben commented on #67
So I just tried the following:
I used PostMan to manually send the Post Request that triggers the build by specifying the sourceBranch parameter as whatever I want:

![grafik](https://user-images.githubusercontent.com/5486874/39539691-aaa3d568-4e40-11e8-8a92-ebb220ea3a48.png)

It does some checking on the server and might return you an error when queuing - however with the request above it worked

[2018-05-07 17:50] jfinnegan3 commented on #67
I also did some searching online, but I could not find any way to do it, and was thinking that your task might be setting a variable behind the scenes that I was unable to manipulate.

Perhaps it is impossible to do this using the API

[2018-05-08 15:07] huserben commented on #67
I'll be in vacation the next few days, but when I find the time somewhen next week I will try to see whether I can open an Issue in a repo of Microsoft and ask whether it's possible or not.

I will update you in case anything comes back.

[2018-05-11 15:05] JDCurran opened #71 "Can you use Trigger Build with just VSTS and Github?"
Hi!

I am trying to trigger a VS MSTest solution build after dev deploys.  I have the trigger at the end of the deploy and I keep getting authentication error with TFS.  The issue is we do not use TFS.  We are VSTS and Git.   Is there a way to get around this?  It looks like the plugin is using TFS API so I am guessing that is why it cannot log in.  Thanks!

[2018-05-14 15:52] huserben commented on #71
Hi @JDCurran

the task works with both TFS and VSTS.
Did you read through the section ***Authentication Options*** on https://marketplace.visualstudio.com/items?itemName=benjhuser.tfs-extensions-build-tasks?
What kind of authetentication did you setup?

[2018-05-15 09:58] atlesp opened #72 "Cancel child build if the parent build fails"
I now end up with "orphaned" build if the parent build fails, and those are blocking other builds from starting (have not that many build agents).

So a task to cancel a child build, that can be configured to run if some of the previous steps fail, would have been nice to have.

[2018-05-15 18:10] huserben commented on #72
Hi @atlesp

Just so that I get the problem correct: Your use case is that you Trigger a Build and don't await the result of it, but in parallel you continue with your "main" build. And if this one fails, you would like to cancel the running one?

[2018-05-17 15:31] huserben commented on #69
Hi @patnolan

were you able to try it out with my suggestion?

[2018-05-17 15:48] huserben commented on #67
I did some additional search, but was without success.
Now I'm trying my luck on StackOverflow (https://stackoverflow.com/questions/50395647/getting-only-partial-shelveset-in-vnext-build), I hope that will bring at least clarity whether its possible or not.

[2018-05-18 06:31] huserben commented on #67
So just a quick update. It seems that it's not possible. I got linked to the following issue https://github.com/Microsoft/vsts-agent/issues/1087 and a uservoice that asks for the same https://visualstudio.uservoice.com/forums/330519-team-services/suggestions/10034220-build-vnext-ignore-no-appropriate-mapping-for-sh.

I will therefore close the issue. In case I would see that the functionality is i

[2018-05-18 06:31] #67 closed

[2018-05-18 11:01] atlesp commented on #72
hi @huserben
Yes, that is correct. My builds run for a while and are only split to speed up the build, and the result are merged together at the end of the master build.

[2018-05-18 17:20] huserben commented on #72
Ok, thanks for the clarification.

I will look into a seperate task that will be cancelling builds that were triggered.
However I'm not sure how long it will take as I don't have too much free time on my hands, so I can not make any promises.

As soon as anything updates I will let you know in here.

[2018-05-21 12:15] huserben commented on #72
Hi @atlesp

I just uploaded a new version of the package that includes a CancelBuild Task.
![grafik](https://user-images.githubusercontent.com/5486874/40306911-c350b99a-5d00-11e8-9015-56106f469594.png)

The configuration is pretty much the same as for the regular triggering of builds, you only need the specifiy the authentication options.
It will read the id's of the builds that were triggered in

[2018-05-21 16:15] JDCurran commented on #71
Yes, I have read through that and also checked the issue one person had with authentication failure.  I tried using Oauth but get authentication failed message - It says it can not log into TFS which we do not use.  That is what led me to believe it would not work for me.

[2018-05-21 16:46] JDCurran commented on #71
OK so I am slapping myself right now :-).  All I had to do was check off the enable scripts access - BINGO!  Thanks so much!  This is awesome stuff here :-).

[2018-05-21 16:46] #71 closed

[2018-05-21 16:51] huserben commented on #71
If it helps, it happened to me as well more than once already :-)

If you happen to have another question, find a bug or a proposal for improvement of the tag, please don't hesitate to open another issue.

[2018-05-22 08:04] atlesp commented on #72
Thanks @huserben ! I have added it to our build now and will test it.

[2018-05-22 08:30] atlesp commented on #72
A dev accidentally tested it for me now and it worked fine! Thanks again.

[2018-05-22 08:30] #72 closed

[2018-05-22 17:44] huserben commented on #72
@atlesp

Very good.
Thanks for your improvement proposal. Please don't hesitate to open an issue if you have another one, or you find a bug or have a question in general.

[2018-05-23 18:06] cnlmason opened #73 "execute builds across multiple build server"
does this extension have the capability to run builds on more than one build server?

[2018-05-23 18:11] huserben commented on #73
Hi @cnlmason

could explain in more detail what exactly you mean by running builds on more than one server?
Is it about "parallelizing" a single build definition?

[2018-05-23 18:15] cnlmason commented on #73
I have configured your extension to run a series of 8 builds.

The first 3 builds run on server A

The next 2 builds  run on server B

The last three builds run on Server C

Make sense

Chuck Mason
651-795-5485
From: Benj Huser [mailto:notifications@github.com]
Sent: Wednesday, May 23, 2018 1:12 PM
To: huserben/TfsExtensions
Cc: Mason, Chuck; Mention
Subject: Re: [huserben/TfsExtensions] execute b

[2018-05-23 18:20] huserben commented on #73
Yes, this is supported. If you want to queue a build of another server you just have to manually specify the address and team project the build is in.
Furthermore as authentication option you can only use a Personal Access Token or Basic Authentication when the build is not located on the same server instance that triggers it. These things have then to be setup on the target server.
Please as well

[2018-05-25 10:03] yellesh12 opened #74 "VSTS Vnext build is not getting trigger when it is scheduled"
Hi Team,

I have vnext build definition which should trigger the trigger a new build task. when i do it manually it is working fine when i schedule it through the task scheduler it is not working.

Note : The task schedular job is there in the build server this will trigger the build and post that it will initiate the vnext build contains test cases  the vnext definition is getting trigger but tri

[2018-05-25 22:02] huserben commented on #74
Hi @yellesh12

so you have a build definition that uses my Task. And when you queue a build of that definition manually it's working fine. And when you have a sheduled build it's not working? Do I get that right?

Can you send me the log files of the Task when for the case where it's not working?

[2018-05-28 06:33] yellesh12 commented on #74
2018-05-25T23:12:52.3209939Z ##[debug]Sending Request to following url:
2018-05-25T23:12:52.3209939Z ##[debug]build/builds?api-version=2.0&ignoreWarnings=true
2018-05-25T23:12:52.3209939Z ##[debug]Request Body: {"definition":{"id":664},"sourceBranch":"","requestedFor":{"id":"3b3c7538-8f4d-478c-86b2-f70e061ec86e"},"sourceVersion":"C185110"}
2018-05-25T23:12:52.3989284Z ##[debug]task result: Failed

[2018-05-28 17:14] huserben commented on #74
Hi

could you as well post me configuration of the Task?
The difference between whether you trigger it manually and scheduled however might be the user it is requested for. So if the "scheduled user" does not have the permissions to queue that build definition it could explain the behavior.

Is the build that shall be triggered in the same team project on the same server?
Is it needed that the bui

[2018-05-28 17:16] huserben commented on #73
Hi @cnlmason

were you able to solve your problem with the documentation provided?

[2018-05-29 06:40] atlesp opened #75 "If one of multiple external builds fails, cancel the other external builds"
**Example**:

I solve this now with the with having "Cancel external Builds if one task failed " both before and after the "Waiting for other builds to finish" task.
![image](https://user-images.githubusercontent.com/1275067/40641958-cb85c300-631b-11e8-82ef-102ebefb429a.png)

It would be cleaner with a setting on the wait for other builds to cancel the other builds if one fails.

[2018-05-29 06:43] huserben commented on #75
Hi @atlesp

so you mean that we would have basically an option for the WaitTask that is "Cancel running task if one failed"?

[2018-05-29 06:45] atlesp commented on #75
Hi @huserben
Yes, just a shortcut for the cancel external builds that you just made. That  one working very well 👍

[2018-05-29 06:47] huserben commented on #75
Ok, yeah I see that that could be useful.
I will add the functionality once I find the time, probably somewhen towards the end of the week.

Thanks for your input, i'll let you know once a new version would be available for verification.

[2018-05-29 06:56] abk90007 opened #76 "Add option to fail Task if conditions are not fulfilled"
We have four build definitions:
1. Application
2. Server
3. Middle
4. CI

In the "Middle" build definition we are using "Trigger Build Task" for triggering Application & Server builds if the "CI" build is succeeded.
"Trigger Build Task" task is always succeeding even if my "CI" build is failed and builds were not triggered.

How to set the status of the "Trigger Build Task" on the basis of depende

[2018-05-29 07:05] huserben commented on #76
Hi @abk90007

in order to verify the result of a triggered build you would need to use the option to await a build.
You can do this as part of the TriggerBuildTask directly under advanced configuration or in a separate task (Wait for Build) if you want to do other things in between.
Please check out the section "Wait for Triggered Build Task" in the documentation at https://marketplace.visualstudi

[2018-05-29 07:15] abk90007 commented on #76
Hi @huserben ,

I don't want to verify the result of triggered builds.

I need to set the status of the "Trigger Build Task" task as "Failed" when builds were not triggered because of "CI" failed status

[2018-05-29 07:20] huserben commented on #76
Ah, so you have a condition set on the trigger and the Task to fail if any of the conditions is not fulfilled?

[2018-05-29 07:26] abk90007 commented on #76
Would be nice if the timeline is another two weeks or so.

[2018-05-29 07:33] huserben commented on #76
As I'm completly doing this in my free time, I won't and can't make you any promises on this.
It doesn't sound like a big change, but still I need to see when I find the time to properly implement and test it.

[2018-05-29 10:44] huserben commented on #76
Hi again

as said, I can't make promises as this is something I do apart from my regular job.
So I will check it out as soon as I have the time.

Anyway what you could do to solve the issue by a workaround if you need this functionality quickly is that you store the triggered build id into the variable.
Then you could add a script that evalutes whether this variable has any content. If so the buil

[2018-05-29 18:23] huserben commented on #73
Hi @cnlmason

ok, so in that case can I close the issue as it seems to be resolved for you?

[2018-05-31 07:01] huserben commented on #75
Hi @atlesp

I'm currently implementing the option in the Trigger Build and Wait Tasks:
![grafik](https://user-images.githubusercontent.com/5486874/40766686-a30ddb4c-64b0-11e8-85de-648606b01369.png)

Right now it is only available if you're failing the task (meaning the above checkbox has to be checked so that the option appears). Do you think that makes sense or should it be available all the time

[2018-05-31 15:24] huserben commented on #76
Hi @abk90007

I just uploaded version 2.9.1 of the Task that contains an option to fail the task if any of the conditions are not fulfilled:

![grafik](https://user-images.githubusercontent.com/5486874/40791284-70eb231c-64f7-11e8-9702-a5ffba5dd738.png)

Please let me know whether this works for you as expected or not.

[2018-05-31 15:24] huserben commented on #75
HI @atlesp

I know updated the task to version 2.9.1 with the above mentioned option.
Please let me know if this is ok for you or whether I should change.

[2018-06-01 04:09] abk90007 commented on #76
Thanks @huserben for quick implementation. Its been a great help.
It works as expected.

Thanks,
Abhishek

[2018-06-01 06:48] #76 closed

[2018-06-05 05:46] atlesp commented on #75
Thanks @huserben
I have switched this on now on my build, and it seems to work fine.

This works for my use case at least :)

Is a canceled build handled as a failed one?

[2018-06-05 16:54] huserben commented on #75
Hi, good to hear.

For your question:

So in VSTS/TFS there is a specific state for cancelled.
In relation of the Build Tasks of mine, if you await a build and set the option to fail a task when it was not successful, it will fail the task if the state is cancelled (as I check if it was successful or not). Does this answer the question or did you mean something else?

[2018-06-05 22:55] PxlBuzzard opened #77 "Build parameters for "Trigger Build Tasks" are undocumented"
Neither the [test file](https://github.com/huserben/TfsExtensions/blob/637695a34b3af4172120e39472b33d0b05f43b01/BuildTasks/triggerbuildtask/tests/taskRunnerTests.ts#L244) nor the [helpMarkDown](https://github.com/huserben/TfsExtensions/blob/637695a34b3af4172120e39472b33d0b05f43b01/BuildTasks/triggerbuildtask/task.json#L216) give a hint as to how to format the build parameters.

[2018-06-06 05:07] atlesp commented on #75
Perfect! Thanks for responding so fast to change requests.

[2018-06-06 16:29] huserben commented on #77
Hi @PxlBuzzard

the build parameters are bit more complex so I was not able to properly describe that in the help markdown. But as it says in the Build Task Description it is described on how it can be used. However a link might help in the markdown.

With the documentation provided under https://marketplace.visualstudio.com/items?itemName=benjhuser.tfs-extensions-build-tasks are you able to use t

[2018-06-06 16:29] huserben commented on #74
Hi @yellesh12

any update on your issue?

[2018-06-06 16:30] #73 closed

[2018-06-06 16:31] huserben commented on #69
Hi @patnolan

just trying to check in whether you were able to check on the "Current Changeset" option?

[2018-06-06 16:33] PxlBuzzard commented on #77
That gives a great description, thank you! I found the extension through the VSTS Marketplace which doesn't link to the full description as far as I can tell.

A link in the markdown and a test case that covers the issue you linked to in the description would probably both be good quick changes going forward. Thank you for everything you've built so far!

[2018-06-06 16:40] huserben commented on #77
Ah ok, then it's definetly not ideal as it is at the moment. As I'm usually not reading/giving much attention to the help markdown of my tasks this is a bit of a blindspot for me, thanks for pointing that out.

I will check all the existing help markdowns and update them if needed.
Thanks as well for the proposal of adding a test case for the issue, I will see what I can do.

I'll leave this issue

[2018-06-19 13:15] gereon77 opened #78 "Task is not working behind a proxy. Please respect agent.proxyurl and agent.proxypassword as well as the proxy bypass list"
Unfortunately when the agent is behind a proxy the task is failing with connection refused:

2018-06-19T13:11:06.3083157Z   innerError:
2018-06-19T13:11:06.3083311Z    { Error: connect ECONNREFUSED ip:443
2018-06-19T13:11:06.3083560Z        at Object.exports._errnoException (util.js:1018:11)
2018-06-19T13:11:06.3083749Z        at exports._exceptionWithHostPort (util.js:1041:20)
2018-06-19T13:11:06

[2018-06-20 18:02] huserben commented on #78
Hi @gereon77

did you setup the build agent with a proxy or what exactly is your setup?
It seems like there was a similar issue (based on the error and the relation to a proxy) once which was solved by setting a variable, maybe this helps: https://github.com/huserben/TfsExtensions/issues/58#issuecomment-373416433

[2018-06-21 08:37] gereon77 commented on #78
Hi @huserben

Well, to be honest I dont want to set http_proxy for the whole system. I set up my agent this way:
https://docs.microsoft.com/en-us/vsts/pipelines/agents/proxy?view=vsts&tabs=windows

Now only the agent service is using the proxy and provides the credentials as the mentioned environment variables to all tasks. When system.debug is set to true each task sees agent.proxyusername, proxy

[2018-06-21 17:20] huserben commented on #78
Hi

thanks for the hint with the vsts-node-api. However the problem is that the task is not yet using this api.
Changing to this is something that was/is foreseen. With this being built-in it gives the whole thing more incentive. However this will need a certain amount of time to fulfill. Currently I simply lack the time to do this.

So I can update you on this progress, but I don't know how long

[2018-06-25 13:42] hacknslay opened #79 "Trigger a buil d with a different branch wont work"
First of all, thanks for your contribution. I know that this cost a lot of hours.

My goal was to develop a build definition, that i can trigger with another build definition. With this configuration i should be able to call these definitions with custom source branches.

Without triggering, i have to define a definition for each branch, that is not my favorite.

I have following situation:

Sourc

[2018-06-25 16:16] huserben commented on #79
Hi @hacknslay

unfortunately I think it's not possible what you try to achieve. The problem is that TFVC actually has a different path for different branches, while with git the structure stays the same and it will just "switch" the branch. This makes it way easier to have build definitions for different branches.
So in case you have the possibility to switch to git i would recommend it - however

[2018-06-26 04:48] hacknslay commented on #79
Hi @huserben,

thank you very much for your detailed answer.

I think you are right, with the tfvc-repo i cannot do this and the link to the msdn-blog clarify this. Ok, just in the moment i feel a little bit left out in the rain by microsoft - and i was very excited about the new build system (i try to migrate our xaml-buildprocesses to vNext).

Anyway, the best solution here in my opinion is your

[2018-06-26 04:48] #79 closed

[2018-07-07 09:46] huserben commented on #78
Hi @gereon77

sadly I still did not find the time to refactor the service to use vsts-node-api.
However maybe this could help you. Microsoft implemented a similar feature into VSTS lately, so you can start builds upon completion of other builds. Depending on the complexity of your use case you could achieve your goal with this: https://azure.microsoft.com/en-us/blog/visual-studio-team-services-apr

[2018-07-07 13:17] huserben commented on #74
Will close the issue due to no follow up by poster.

[2018-07-07 13:17] #74 closed

[2018-07-09 19:57] atifansari13 opened #80 "User failing authentication during Trigger Build Task step"
I have a build definition A on VSTS which includes a Trigger Build Task step to trigger build definition B.

Agent A is installed and running with PAT for user A and i am running build definition A on Agent A.
When i am configuring the agent A, user A is able to authenticate to VSTS. My PAT token is authorized for all scopes.

I have agent B installed with PAT for user B and i want build definitio

[2018-07-10 08:36] huserben commented on #80
Hi @atifansari13

are the build definition on the same tfs/vsts server instance/collection?

Could you set the the system.debug variable to true and send me the logs of the build step.

[2018-07-10 12:54] atifansari13 commented on #80
Hi @huserben

Yes. Both my build definitions are on the same vsts server instance. Here are debug logs for the build step.

2018-07-10T12:48:47.8593568Z ##[debug]Evaluating condition for step: 'Trigger a new build of  Build2'
2018-07-10T12:48:47.8595186Z ##[debug]Evaluating: succeeded()
2018-07-10T12:48:47.8595565Z ##[debug]Evaluating succeeded:
2018-07-10T12:48:47.8596087Z ##[debug]=> True
2018-0

[2018-07-10 17:22] huserben commented on #80
Hi

so when looking at the logs, it seems that you don't specify any Token:
`2018-07-10T12:48:48.8980861Z ##[debug]authenticationMethod=Personal Access Token`
`2018-07-10T12:48:48.8981501Z ##[debug]username=null`
`2018-07-10T12:48:48.8982592Z ##[debug]password=null`

So if you use a PAT to authenticate, then you have to specify the token in the "Password" field.
Ideally you define it as a variable

[2018-07-10 20:47] atifansari13 commented on #80
Hi Ben,

It worked. I thought it would by default use the PAT token. Thanks for your help.

[2018-07-10 20:47] #80 closed

[2018-07-22 17:14] generik0 commented on #61
HI @huserben
Great TfsExtensions. Thanks a bunch!!!
Weird thing is, i have to specify a PAT when triggering a build within the same collection.
The OAuth does not access the authorization. It there no way to get it to work without speficifying and deslaying may OAuth or PAT?
Do i need a special setup on the tfs to get the default OAuth to be accespted?

[2018-07-23 09:27] LokiMidgard opened #81 "`unable to verify the first certificate` when SSL Certificate error is not ignored"
I have an Setup where the TFS and the agents are using Domain certificates. When I don't ignore SSL Certificate errors, I get the error `unable to verify the first certificate`.

Where do I need to install the certificate? The OS on the agent accepts the certificates. I needed to use `--gituseschannel` when configureing the agent, so git works.

[2018-07-25 06:50] LarryRothOakton commented on #78
Hi @huserben.

Great extension! Unfortunately we can't use it due to the proxy issue. Would love to see this resolved.

[2018-07-25 11:17] heikkoe opened #82 "Add more secure options for storing authentication information"
Is it possible to instead of storing and worse so, showing, the tokens and password instead point the build def to use a variable group with secrets?

[2018-07-30 18:21] dwhearn opened #83 "Add task output variables for queued build status"
Add task output variables to return the status of the queued builds so that they can be checked in later build tasks to determine which of the queued builds failed. It would be helpful to also return any error messages from the queued builds. Then this information could be used in a following Send Email task to send an email with information about the failed queued builds.

[2018-08-02 19:01] huserben commented on #61
Hi @generik0

I think OAuth should work out of the box, you just need to make sure that the build definition has access to it (see the docs for more info).

[2018-08-02 19:02] huserben commented on #78
Hi @LarryRothOakton

yes, i might have time the following days to look a bit more deeply into the problem and then at least might have an idea on how long it will take to change.

I'll keep you updated on the progress

[2018-08-02 19:07] huserben commented on #81
Hi @LokiMidgard

I'm no expert in the configuration of the agents, and I think this is more related to that than to the task itself.
Maybe you can check out the following docs if you haven't already, it seems like there needs to be done something special to make it work with a domain certificate:
https://github.com/Microsoft/vsts-agent/blob/master/docs/design/clientcert.md

Let me know if it helpe

[2018-08-02 19:09] huserben commented on #82
Hi @heikkoe

How do you mean storing and showing?
You can always use a variable that is set to secret and reference this, if you mean that. It is shown in the screenshot in the documentation how to do that:
https://github.com/huserben/TfsExtensions/blob/master/BuildTasks/overview.md#personal-access-token

Please let me know if this was your question or if I missunderstood you.

[2018-08-03 12:27] heikkoe commented on #82
The docs indeed help. I suggest adding the variable hint to field labels as currently in the task itself there is no hint that you can actually use variables instead of just storing a plain text password or pat there.

[2018-08-03 12:31] huserben commented on #82
That is true, thank you for the suggestion.
I will take this up in the next version so hopefully other people won't have the same problem.

I will close the issue once the version that includes the change is uploaded.

Thanks very much for helping to improve the task, please don't hesitate to open up another issue in case you find a bug or have some suggestions for improvement.

[2018-08-03 16:53] huserben commented on #82
Hi @heikkoe

I uploaded a new version of the tasks that include now in the help markdown a reference that tokens should be written down as a (secret) variable and accordingly referenced:
![grafik](https://user-images.githubusercontent.com/5486874/43655244-5c39393e-974e-11e8-8e8e-afe959caccd2.png)

I hope that prevents any confusion in the future.
Thanks again for reporting this.

[2018-08-03 16:53] #82 closed

[2018-08-03 16:53] huserben commented on #77
Hi @PxlBuzzard

I uploaded a new version (2.9.2) which should include an update on the help markdowns where I thought it makes sense to extend. Now the help markdown looks as follows:
![grafik](https://user-images.githubusercontent.com/5486874/43655122-fe36d0bc-974d-11e8-8bbf-f5129195384c.png)

Regarding the test case, the actual handling of the parameters is implemented in a service I'm using for

[2018-08-03 16:53] #77 closed

[2018-08-03 16:54] huserben commented on #52
Closed due to inactivity.
In case of any answer it can be reopened.

[2018-08-03 16:54] #52 closed

[2018-08-03 16:55] huserben commented on #69
Closed due to inactivity.

In case of any response it can be reopened.

[2018-08-03 16:55] #69 closed

[2018-08-04 17:00] huserben commented on #78
Hi @gereon77 and @LarryRothOakton

I was looking a bit into the refactoring to use the vso-node-api proposed by @gereon77
I now changed most parts of the code to start testing. I might be able to provide a preview version tomorrow for you, as I'm on holidays after it will definetly not come out of preview for the next 1.5 weeks, as I have to rewrite the tests and documentation apart from doing som

[2018-08-04 17:35] huserben opened #84 "Add option to specify a delay for each build triggered"
Issue created from Review on Marketplace:
great tool, like a lot, however i would like to suggest on improvement.

I'm working with parallel builds, and, when i trigger "n" builds at the same time, I need to give some seconds between each one. So, my request of improvement is to add a new parameter of how many seconds between each build to be triggered i would insert.

I saw this is possible in ta

[2018-08-04 17:36] hrlourenco opened #85 "Time between each queued build in same step"
great tool, like a lot, however i would like to suggest one improvement.

I'm working with parallel builds, and, when I trigger "n" builds at the same time, I need to give some seconds between each one. So, my request of improvement is to add a new parameter of how many seconds between each build to be triggered i would insert.

I saw this is possible in taskrunner.ts, in method triggerBuilds().

[2018-08-04 17:38] huserben commented on #84
One question for my understanding, could maybe be clarified why there needs to be a delay? Is it a general thing of TFS/VSTS that it can't be handled or is it in your scenario just necessary for some reason?

[2018-08-04 17:42] #84 closed

[2018-08-04 17:42] huserben commented on #85
Hi @hrlourenco

One question for my understanding, could maybe be clarified why there needs to be a delay? Is it a general thing of TFS/VSTS that it can't be handled or is it in your scenario just necessary for some reason?

[2018-08-05 00:38] hrlourenco commented on #85
Hi @huserben ,
In the same brach we have multiple solutions, and, there are two main reasons:
1- Source Control
2-Nuget
It is basically concurrency access to files in builds machine. So, the solution, in my understanding, is to give a delay between each build, to avoid this issue.
When two builds are queued exactly at the same time and they share the branch, it gives me an error in mappings.

[2018-08-05 13:17] huserben commented on #78
Hi

I just uploaded a preview version that makes use of the mentioned library. The tasks are now available in a new version and marked as preview:
![grafik](https://user-images.githubusercontent.com/5486874/43686228-5e81ffd0-98c2-11e8-9e5a-22c67bdbf469.png)

You have to manually switch from the Version 2 to version 3. The interface has slightly changed in case you trigger a build from a different

[2018-08-05 15:30] huserben commented on #85
Hi

ok, could it be that you need to install it again/specially from the [marketplace](https://marketplace.visualstudio.com/items?itemName=benjhuser.tfs-extensions-build-tasks)?

[2018-08-06 05:16] huserben commented on #85
Hi

sorry for the troubles, I'll investigate this as soon as possible.
The wait and cancel tasks are in the preview version or not?
And do you use TFS or VSTS?

[2018-08-06 07:44] Wazner commented on #85
We're experiencing the same issue. After TFS (on-premise) has automatically updated the extension last night our builds have started failing due to a missing build task: `"One or more of the steps defined in the build does not have an associated task definition. Check if the task was uninstalled or has failed a licensing check."`

The other two tasks, Wait and Cancel are in preview. But it seems t

[2018-08-06 08:45] BlackSlashProd opened #86 "Task doesn't work anymore."
Hi,

Since this morning our builds are broken because the task "Trigger Build Task" seems doesn't working properly.
A message say "This task is no longer installed. Re-install the task or remove it from your definition." even if task is installed. I tried to uninstall / reinstall, disable/enable... nothing works.

When I try to add a new task with type "Trigger Build Task" it doesn't appear in the

[2018-08-06 09:05] huserben commented on #86
Hi @BlackSlashProd

yes I know, I'm sorry for the trouble. I just uploaded a new version that should fix it so it is again the way it was before my last update yesterday.

Please let me know whether it's back to normal for you with that version.

[2018-08-06 09:12] sandeep10n opened #87 "Newly installed 3.0.0 is not visible in the task list"
Hi,
We upgraded to your latest package 3.0.0.
Still it is not listed in the available task list. Can you please suggest the possible root cause and solution.

![tasknotvisible](https://user-images.githubusercontent.com/32562006/43708113-54b5b972-9987-11e8-85a8-19ac4d454a8a.png)

BR,
Sandeep

[2018-08-06 09:16] BlackSlashProd commented on #86
Thank you for the fix and for your reactivity.

It works very well now.

[2018-08-06 09:16] #86 closed

[2018-08-06 09:18] JordanRBG commented on #86
Hi @huserben

We are also encountering the same issue with our on-premise version of TFS 2018; are we best just re-installing the extension to resolve the issue?

Thanks.

[2018-08-06 09:19] huserben commented on #87
Hi @sandeep10n

it should be fixed with the newest version 3.0.1.
Please refer to [Issue 86](https://github.com/huserben/TfsExtensions/issues/86) which addresses the same problem.

[2018-08-06 09:19] #87 closed

[2018-08-06 09:27] sandeep10n commented on #87
Thanks for quick reply :)

but we are not able to see 3.0.1

can you please share the link ?

[2018-08-06 09:36] Wazner commented on #86
@huserben Thank you for your quick response. You're doing a great job here and the support is even quicker than most paid support 👍

[2018-08-06 10:06] huserben commented on #87
It should be available normally over the marketplace side:
https://marketplace.visualstudio.com/items?itemName=benjhuser.tfs-extensions-build-tasks

If you need the package as vsix, you can find it here in the repo:
https://github.com/huserben/TfsExtensions/blob/master/BuildTasks/Releases/benjhuser.tfs-extensions-build-tasks-3.0.0.vsix

Please let me know if you managed to solve the issue :-)

[2018-08-06 11:02] JordanRBG commented on #86
@huserben
Thanks for the fix, our tasks are now working as expected in TFS.

[2018-08-06 13:46] hrlourenco commented on #85
Hi Huserben,

Thank you for the quick support. I'll wait for the new version.

[2018-08-06 19:52] huserben commented on #87
HI @sandeep10n

I'm sorry, in my hurry I accidentally posted the wrong link to the release package. I actually didn't upload it to the repo yet, sorry for that. Here is the correct link:
https://github.com/huserben/TfsExtensions/blob/master/BuildTasks/Releases/benjhuser.tfs-extensions-build-tasks-3.0.1.vsix

I hope you could make it work by now, sorry again for the mess

[2018-08-06 20:27] huserben commented on #78
Hi again

in case you were affected by the mess I created with yesterdays version, it's fixed now and version 3.0.2 that is on the marketplace contains the tasks in the stable and the preview version and will let you switch between them in order to test whether it works now with the proxy or not.

[2018-08-07 04:33] patnolan opened #88 "TFS throws error since Trigger Build Task version 3.0.2 was released"
TFS now throws error since Trigger Build Task version 3.0.2 was released

Error is "This task is no longer installed. Re-install the task or remove it from your build definition"

Should we reinstall Task?

[2018-08-07 05:07] huserben commented on #88
Hi

which version of which task did you have installed that is causing the issue? I installed it yesterday on my VSTS instance and did not face a problem

[2018-08-07 05:13] patnolan commented on #88
Hi @huserben we were using version 3.

Our build failed last night. Now when I open the build definition I see the errors in attached screenshot.

I assume it is related to latest task upgrade.

![image](https://user-images.githubusercontent.com/21251166/43755664-4e091128-9a54-11e8-9e04-87dfb4b142cf.png)

[2018-08-07 05:37] huserben commented on #88
Hi

hmm that is odd, if you add new tasks, can you find any of the following:
TriggerBuild, Wait for build or Cancel Build?

I wonder if the update somehow didn't go through well and nothing is installed or something else went wrong

[2018-08-07 09:18] evamueller commented on #88
@huserben
thank you, reinstalling solved the problem and the settings were retained.

[2018-08-07 09:45] patnolan commented on #88
Hi @huserben I can also confirm that uninstalling and reinstalling solved the problem and the settings were retained.

This is a great community project and very much valued. Keep up the good work!

[2018-08-07 11:04] huserben commented on #88
@evamueller , @patnolan
Ok very good, I hope it didn't cause too much trouble for you.

I'll close this issue then, please feel free to open another issue if you have any problem, question, or suggestion for improvement.

[2018-08-07 11:04] #88 closed

[2018-08-07 15:45] huserben commented on #81
Hi again @LokiMidgard

I did some heavy refactoring over the past few days and the task is now internally using a microsoft library to access the server. This means that the behavior you're experiencing might have changed, as before I was accessing the server with some third party library that I had to configure manually.

If you want to give it another try and see if it changed, you can do so by

[2018-08-07 16:26] LokiMidgard commented on #81
Hi,

sorry for the silence. I'm currently on vacation. I don't know if I can check it already this week. I hope I get to this in the next week.

[2018-08-07 17:09] huserben commented on #81
No problem, no hurry, I just wanted to let you know that it might work now.

[2018-08-09 08:39] LokiMidgard commented on #81
I was able to test it.

And I think it worked :)
Thank you.

Are there any changes I should be aware of. I don't think something in the UI changed.

[2018-08-09 08:39] #81 closed

[2018-08-14 18:05] huserben commented on #85
HI @hrlourenco

were you able to to test it with the preview version?

[2018-08-16 08:00] jawn opened #90 "Installing Trigger Build .vsix in TFS causes Error: XML Document- 'public' is not a valid value for global::Microsoft.VisualStudio.Services.Gallery.WebApi.PublishedExtensionFlags."
Steps:
1. Download `benjhuser.tfs-extensions-build-tasks-3.0.2.vsix` from the marketplace.
2. Install in the on premise TFS (in my case, TFS 2017 Update 1)

Expected result:
- Installation succeeds

Actual result:
Error message:

![image](https://user-images.githubusercontent.com/1705112/44195858-9aacef80-a13a-11e8-8b7a-49d30b82134f.png)

Likely cause:
extension.vsixmanifest contents:
![image](htt

[2018-08-16 16:57] huserben commented on #90
Hi @jawn

thank you for the input.
I think the file is created out of the [vss-extension.json](https://github.com/huserben/TfsExtensions/blob/master/BuildTasks/vss-extension.json)

I will change it and then update the extension.
However, upon uploading in the marketplace the extension is verified, and I would assume at least there it could/should be detected, I wonder whether we should check with

[2018-08-16 17:38] huserben commented on #90
@jawn
I uploaded a new version now where the Public flag is written in uppercase.
Do you mind give it another try and let me know whether it worked or not?

[2018-08-17 07:04] jawn commented on #90
@huserben
Tested with version 3.0.3 and I get a different error message:

[2018-08-17 17:02] huserben commented on #90
hmm i quickly checked the package (one can simply unzip it as the vsix is nothing else but a zip file) and for every task in every version a task.json is there.
I wonder if maybe your version of TFS is not supporting to have multiple versions of one task in the same extension.
I could try to create a custom package for you if you are willing to download it from another source than the marketplace.

[2018-08-20 06:58] jawn commented on #90
That worked!

[2018-08-20 10:48] huserben commented on #90
Ok very good, thanks for your input @jawn

I will try in that case from now on to create a dedicated package containing only the newest versions, as there seems to be a problem with (older?) versions of TFS with the multiversion packages.
I shall accordingly update the docs so other people hopefully don't run into the problem.

As well I'll try to check with Microsoft whether this is a known probl

[2018-08-20 14:40] jawn opened #91 "Error "Failed to find api location for area" when triggering build on TFS 2017 Update 1"
I get the error

when using the trigger build task from a release definition.
OAuth is enabled.

The build to trigger is in the same team collection and project, so I am using OAuth with empty token.
I get the same error message whether Customer Team Project Url is enabled or not.

## Version info

* Extension version 3.0.3 (although the log says 3.0.1)
* TFS 2017 Update 1

## Log

2018-08-20T14:3

[2018-08-20 17:44] huserben commented on #91
It could be possible that the API used for retrieving the ID is not yet available in your version of TFS.

Could you try to query the following url (with Postman or your browser) and see whether you get back a project with the name you're looking for:
_https://<yourTfsUrl\>:<port\>/_apis/projects_

If you are in a hurry you could as well try go for the latest 2.* version which should work without

[2018-08-20 18:56] huserben commented on #91
Hi @jawn

just to check my assumption with the "too old API" I created a preview package that includes a change on how the Team Project Id is fetched. Now if you use the same team project as the original build it will not fetch the GUID over the API with the name, but just take the already existing GUID from an environment variable. That should get us around the issue, in case this API is the only

[2018-08-21 09:15] jawn commented on #91
Thanks for the quick follow up @huserben.

When I import this one I get the message 'The task.json file was not found in contribution triggerbuildtask. '

[2018-08-21 18:55] huserben commented on #91
Sorry seems like I had a small issue in my script that created the "single version" package.
This one should  contain the correct structure:

[benjhuser.tfs-extensions-build-tasks-3.1.0_preview.vsix.zip](https://github.com/huserben/TfsExtensions/files/2307636/benjhuser.tfs-extensions-build-tasks-3.1.0_preview.vsix.zip)

Really sorry for that Trial and Error we have to do, but at the moment I reall

[2018-08-22 07:18] jawn commented on #91
No problem, I appreciate your rapid feedback.

I was able to install this 3.1.0 preview version on TFS 2017 Update 1

It seems the error still remains.

[code]

[2018-08-22 14:12] sanderaernouts opened #92 "Failing to queue build for refs/heads/master"
According to your documentation both here on github and in the task tooltip `refs/heads/master` should be used to queue a build on master. However this does not seem to work. When I queue it for `master` it works as expected:
![image](https://user-images.githubusercontent.com/6184673/44468616-e6253900-a625-11e8-958a-cbaccdaecaac.png)

![image](https://user-images.githubusercontent.com/6184673/4446

[2018-08-22 15:27] huserben commented on #91
Hi

hmm strange, it seems it triggers a build anyway? Was it actually working apart from the error message printed out?

As well, could you once try to set the system.debug variable to true and post the output of the task? Maybe this helps determing the problem a bit better.

[2018-08-22 15:31] huserben commented on #92
Hi @sanderaernouts

thanks for your feedback.
Are you using the version 3 of the task or are you still on version 2?

It could be that due to the refactoring done in version 3 this has changed and gone unnoticed so far.

[2018-08-23 12:14] sanderaernouts commented on #92
Hi @huserben
I am using `3.*` of the tasks and the builds are queued in the same VSTS project.

[2018-08-23 13:02] dwhearn commented on #83
Thanks, I used your suggestion and used a PowerShell task to read the information that I needed.

[2018-08-23 14:16] jawn commented on #91
The build is still not triggered, I see no additional info after launching the triggering build with a debug flag.
However, I am calling this task from a Release definition. Should I test it from a build directly instead?

[2018-08-23 17:27] huserben commented on #92
@sanderaernouts
Ok, thanks for the info. Then this has changed due to the new implementation and is now simpler. I will update the docs accordingly. Thank you for the feedback.

@dwhearn
I think you're facing a different problem, please open a  new issue describing what exactly is failing and in what environment you are (TFS including Version or VSTS, which version of the task, configuration, logs

[2018-08-23 17:27] #83 closed

[2018-08-23 17:49] dwhearn opened #93 "Failing to queue build if in same VSTS project"
After upgrading to the 3.* version of the 'Trigger Build' task, if the build being triggered is in the same VSTS team project (the 'True if the build to be triggered is defined within the same team project as this build' option is checked), then it will fail with the error message: '##[error]Could not find any Team project with name <MyTeamProjectName>'. Switching back to the 2.* version works cor

[2018-08-23 18:02] huserben commented on #93
Hi

could you show me the log of any of the failing tasks, preferrably with the system.debug variable set to true.
As you're using VSTS its hard to judge what possibly goes wrong, as I use this myself and it worked without a problem so far. What kind of authentication are you using?

[2018-08-24 07:39] sanderaernouts commented on #92
@huserben happy to contribute :). Great tasks extension by the way:+1:! They really come in handy when you need to queue a build and require it's artifacts somewhere further down in your build.

[2018-08-25 09:48] huserben commented on #90
Hi @jawn
the newest version of the package will from now on be available under https://github.com/huserben/TfsExtensions/tree/master/BuildTasks/Releases/singleversion in a version that only includes the newest versions of the tasks.

Futhermore I updated the Supported TFS section in the [Overview](https://github.com/huserben/TfsExtensions/blob/master/BuildTasks/overview.md#supported-tfs-versions)

[2018-08-25 09:48] #90 closed

[2018-08-25 09:58] huserben commented on #92
Hi @sanderaernouts

I uploaded a new version of the task which has the description fixed:
![grafik](https://user-images.githubusercontent.com/5486874/44617085-2ae6e500-a85d-11e8-9a52-4c8d4ad35937.png)

 As well I changed it in the [Overview](https://github.com/huserben/TfsExtensions/blob/master/BuildTasks/overview.md#use-same-source-branch) that is displayed on the marketplace:
![grafik](https://u

[2018-08-25 09:58] #92 closed

[2018-08-26 02:33] LarryRothOakton commented on #78
Hi @huserben thanks for the update. Unfortunately it's still not working for me. It is getting further but we're now getting a 407 error, which I think is from the proxy. We have username/password proxy authentication, so not sure if that's the issue. Unfortunately the development team doesn't have much insight into how the proxy has been implemented (still going on that DevOps journey for this cl

[2018-08-26 16:56] huserben commented on #78
Hi @LarryRothOakton

thanks for the input.
Hmm it seems there is some issue with a dependency of the vso-node-api that is used for the connection.
I'll try to update the dependency and provide a new version to see if that will fix the issue. I'll post an update here once the new version is available.

[2018-08-27 09:01] jawn commented on #91
Tested again with similar resutls:
- Allow scripts to access OAuth token is enabled.
- Same results with a build calling the trigger build task (instead of a release)
- Same result with a personal access token with all permissions enabled.

Detailed logging:

[code]

I see the following event log entry:

![image](https://user-images.githubusercontent.com/1705112/44650951-4df1d000-a9e8-11e8-8e04-07

[2018-08-27 19:08] huserben commented on #91
Hi

ok, I found the following issue on another github repo that seemed to have the same problem:
https://github.com/Microsoft/vsts-cli/issues/149 (even the guids of the error seem to match...)

So maybe what you could try is to update the Build Agent to the newest (supported) version and maybe reconfigure it if it is not too much effort, to see whether this solves the problem...

Otherwise the mes

[2018-08-28 21:36] dwhearn commented on #93
It was failing when using version 3.0.1, but is now working with version 3.0.3.

[2018-08-28 21:46] dwhearn opened #94 "TriggeredBuildIds not cleared if waiting for triggered build that failed"
Using the Trigger Build task, specify that it should store triggered build id's in a variable. Configure the Wait for Builds to Finish task with the following settings:
* Fail the build if the tasks were not successful
* Treat a Partially Succeeded Build as Successful
* Clear TriggeredBuildIds variable after Task

If the triggered build fails, then the TriggeredBuildIds variable is not cleared and

[2018-08-30 15:53] #93 closed

[2018-08-30 15:55] huserben commented on #94
Hi @dwhearn

I think this is till now by design, as my way of thinking was that, if the task fails due to a failing build, the subsequent tasks are not executed right?

Or is the problem that a partially successful build is awaited and the task doesn't fail, but the variable is then not cleared?

[2018-08-30 16:11] dwhearn commented on #94
You have the control option on the task 'Continue on error' which is checked for the Wait for Builds to Finish task. This will mark the status of the build as partially succeeded. Later steps are triggering other builds and then attempting to wait, but since TriggeredBuildIds is not cleared as expected that task attempts to wait on all of the previously triggered builds which includes the previous

[2018-08-30 16:49] huserben commented on #94
Ok I see, that makes sense.
I really haven't had that use case on my mind, thanks for pointing me to it.

I'll try to provide a new version in the next days that will take care of that problem. Once I have something I'll let you know.

[2018-09-01 09:44] huserben commented on #94
Hi @dwhearn

A new version of the Wait task is now available (2.0.4). It includes the change that the variable should be cleared even in case of the task failing.

Could you verify this and let me know whether it worked or not?

[2018-09-05 14:39] dwhearn commented on #94
The 2.0.4 version works as expected. Thanks!

[2018-09-11 15:11] ghost opened #95 "Disregard"
Disregard

[2018-09-13 07:01] LarryRothOakton commented on #78
Hi @huserben thanks again for the update. I'm still getting the same error. We might have an unusual proxy configuration. Is anyone else able to test this?

[2018-09-15 10:07] #95 closed

[2018-09-15 10:14] huserben commented on #78
Hi @LarryRothOakton

ok, thanks for the info, I'm sorry that it's still not working, but I'm not sure how much more I can do here, as now I'll let the vso-node-api handle all the connection details...
I found this statement on another github repo:

However that was more than a year ago, but it might still be the source of your issue...

[2018-09-24 12:49] marwahaks opened #96 "Issue with passing parameters"
using v3.*

I have BuildA and BuildB.
I want to replace one of the variables in Build A via the Trigger Build task in VSTS.

Result:
I have made the variable in BuildA, which we'll call 'VariableInBuildA', 'settable at queue time' and I've passed it in the additional parameters box as "VariableInBuildA: newvalue". My expectation was that this should overwrite the variable in BuildA but it does not

[2018-09-24 15:11] huserben commented on #96
Hi @marwahaks

I just tried in my environment and it seems to work ok, so maybe there is some configuration issue.
Could you provide me the logs of the task?

[2018-09-25 14:29] sevaa opened #97 "Error from manually started release"
If invoked from a release that was not triggered by a build, the task errors out:

Note the two undefined parameters at the end.

[2018-09-25 17:12] huserben commented on #97
Hi @sevaa

So am I correct with the assumption that the task does work when it is automatically triggered then?

Do you have set any primary build artifact? I did never use the task within a Release Definition, so I have no practical experience, however looking at the [docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/variables?view=vsts&tabs=batch) the two variables used for t

[2018-09-25 17:54] huserben commented on #97
Yes I see, I am just wondering why then the environment variable is not set.
So I would assume if you have any Primary Build Artifact set, those variables should be defined, no matter whether it was triggered automatically or by hand, as you still have an actual build as input.

Of course if you don't have any build linked at all, then these two options don't make any sense, as there is no build t

[2018-09-25 18:03] sevaa commented on #97
Okay, couple of things.

If the release has an artifact but was triggered manually, the task works.

I've deleted the artifacts link and run it again. Here is the debug output:

2018-09-25T17:58:31.9894632Z ##[debug]Parsing expression: <succeeded()>
2018-09-25T17:58:31.9894632Z ##[debug]succeeded
2018-09-25T17:58:31.9894632Z ##[debug](
2018-09-25T17:58:31.9894632Z ##[debug])
2018-09-25T17:58:32.02

[2018-09-25 18:15] huserben commented on #97
Ah ok, this is what I was wondering in the first comment, so if there is no build at all it makes sense that the task in this configuration doesn't work.

You cannot specifiy it to use the same source branch and the same user that triggered the build then, as the task in its current state was not designed to be run in a Release Definition. So if you uncheck both those options the task *should* suc

[2018-09-28 15:46] leahymichael commented on #96
I'm having the same problem, have been doing this setup for months (with no problems) just started having issues recently. here's a snippet of our logs:

2018-09-28T15:41:04.6370569Z ##[debug]Evaluating condition for step: 'Trigger a new build of SIEnterpriseLibrary'
2018-09-28T15:41:04.6371353Z ##[debug]Evaluating: succeeded()
2018-09-28T15:41:04.6371690Z ##[debug]Evaluating succeeded:
2018-09-28

[2018-09-28 16:07] leahymichael commented on #96
I think I found my issue - it appears that something is now case sensitive that wasn't before.  My variable in question was SOCIETY.BUILD.TRIGGER.SOURCE  and in the other build (input variable) I had it upper case, but the output variable of the trigger task was lower case, and that's what seemed to allow the error state to happen where it tried adding the same variable.

Anywho, matched the casin

[2018-09-28 17:51] huserben commented on #96
@leahymichael

Thanks for that clarification, it could be that due to the underlying change made with version 3 that case sensitivity is now relevant. Why it stopped working with v2 however it can't tell, the interfaces the task works against are the same in v2 and v3.

@marwahaks could you maybe check whether you have the same issue with the case sensitivity?

[2018-09-28 17:54] huserben commented on #97
@sevaa did you manage to get the task running without the specified options or is it still broken?

[2018-09-30 20:40] daughey opened #98 "VSTS unreliablity"
This is an enhancement request to deal with VSTS sometimes dropping connection (even from its own hosted agents).

Could you please implement automatic retry when awaiting queued builds?  VSTS has a bad habit of giving an ECONNRESET or other error that means VSTS dropped the ball.  It would be good if the Trigger Build Task could automatically retry upon connection errors instead of failing on the

[2018-10-01 09:38] marwahaks commented on #96
@huserben Yeah, mine is working now. thank you

[2018-10-01 09:38] marwahaks commented on #96
oops sorry.

[2018-10-02 17:29] huserben commented on #98
Hi @daughey

Thanks for this input.

The task is using the ~~vso-node-api~~ azure-devops-node-api (https://github.com/Microsoft/azure-devops-node-api) to establish the connection to the server. I will check whether they support some retry options out of the box that could be used.

Do you happen to have a log of a sample of such a dropped connection for me to refer to?

I will let you know once I

[2018-10-03 10:26] SimoneLocatelli opened #99 "Cannot read property 'length' of null"
Hi,

I've created a build definition containing a single Trigger Build task and configured it with the following settings: [https://image.ibb.co/ciT9uK/settings.png](https://image.ibb.co/ciT9uK/settings.png)

However, the task fails during its execution with the message: _Cannot read property 'length' of null_

Here's the full task log

`2018-10-03T10:17:32.9276554Z ##[section]Starting: UAT Build`

[2018-10-03 17:08] huserben commented on #99
Hi @SimoneLocatelli

thanks for reporting this issue.

My first guess would be that there is no actual Person Access Token defined? I cannot see the "Authentication" section of your configuration in the picture you shared.

So if you're using a PAT you have to specifiy the token in the "Password" section. Ideally you do this via a variable which you set to be secret, so you don't have the token ha

[2018-10-03 17:11] huserben commented on #98
Hi again @daughey

just to clarify, which version of the task are you using exactly?

[2018-10-03 17:56] SimoneLocatelli commented on #99
Hi @huserben

thank you very much for your reply. I think you're since I haven't set up the PAT. I've thought it would have been necessary only to access a build definition located on a different project/server. I will try that tomorrow.

On a side note, it would be great if you could add some checks before trying to use the PAT so that a better error message is returned. Anyway, thanks again for

[2018-10-03 19:18] huserben commented on #99
Ok, please let me know once you tried whether it was fixed or not.

In any case I will let this issue stay open until I have improved the logging output for the different use cases of Authentication. Thanks for that input.

[2018-10-04 15:07] SimoneLocatelli commented on #99
Hi @huserben

Once I've added the PAT, the task started working as expected. Thanks a lot for your help!

[2018-10-04 17:03] huserben commented on #99
Hi

ok very good.

Thanks for reporting your issue and proposing the improvements in the logs in case of such an error.
Until I'll updated the task accordingly I will leave the issue open.

Please don't hesitate to open another issue in case you have any problem or a feature request.

[2018-10-09 06:40] arnochauveau commented on #98
@huserben i'm having the same issue on version 3.*

I get the following log:

![digital-client-app-dvlp_-_18_11_2_-_pipelines](https://user-images.githubusercontent.com/4454851/46650993-cbd7f800-cb9e-11e8-9c86-6f7913dd4594.png)

If there's anything else I can do to help you resolve this issue, please let me know!

[2018-10-10 18:21] huserben commented on #98
Hi @arnochauveau

thanks for the log, I'm currently looking into the issue and how to properly solve it.

Could you tell me the configuration of the wait time between the checks that you are using?

[2018-10-11 06:08] arnochauveau commented on #98
The wait time is currently set to 30s for all our build triggers.

[2018-10-11 07:07] huserben commented on #98
Ok, what you could do for now as a workaround if it is a severe problem for you is trying to increase that time to not put too much load on the VSTS instance.

[2018-10-11 08:38] arnochauveau commented on #98
We'll try that. Thanks for the tip!

[2018-10-16 08:28] huserben commented on #98
Hi all

quick update, I'll implemented a retry-mechanism so in case of an error in a request made to the server it will retry up to 4 times before it fails the task.

I need to do some further testing but I expect the updated version to be available somewhen tomorrow.

[2018-10-17 07:51] daughey commented on #98
Looking forward to it!

Sorry I missed your responses - victim of the "focused" inbox in Outlook.

In response to your question (which probably doesn't matter anymore), I'm on version 3.0.3.  Samples of failed responses have been cleaned up by retention policy.  If you're still interested, I can post it if happens again.

[2018-10-17 12:00] huserben commented on #97
I added a sentence related to potential issues related to the usage of the task in release definitions without a linked build to the overview/documentation.
In case if a certain option is needed a dedicated issue should be created so I can decide how to solve this case by case.

[2018-10-17 12:00] #97 closed

[2018-10-17 12:06] huserben commented on #98
Hi @daughey @arnochauveau

I just uploaded a new version of all the tasks that contains my change with the retry.
However I wans't really able to test this in my environment because I didn't manage to force the error to happen. I would propose that I'll leave the issue open for a while and you can give me feedback whether it seems fixed (meaning it didn't happen anymore) or if it still fails.

Eve

[2018-10-17 12:06] huserben commented on #99
The newest version of the tasks has a built in check whether the authentication options are containing all necessary info, if not there will be a more meaningful message:
![grafik](https://user-images.githubusercontent.com/5486874/47084303-65448100-d213-11e8-933c-dda4bac0d174.png)

[2018-10-17 12:06] #99 closed

[2018-10-17 13:20] arnochauveau commented on #98
I've lowered the wait time to 1s and it timed out as excpected. Your retry-mechanism seems to be working nicely. Issue can be closed as far as I'm concerned.

![digital-client-app-dvlp_-_18_11_10_-_pipelines](https://user-images.githubusercontent.com/4454851/47088999-1fda8080-d220-11e8-8bac-2bd07ec7ef14.png)

[2018-10-17 13:34] huserben commented on #98
Ok, thank you very much for the super fast feedback.

I'll therefore close the issue.
@daughey if you feel like it's not solved for you please do reopen it.

Thanks again both of you for the feedback and please let me know via a new issue if you have any other suggestions for improving the task.

[2018-10-17 13:34] #98 closed

[2018-10-17 19:07] daughey commented on #98
Excellent.  Thank you very much - both of you!

[2018-10-18 07:45] daughey opened #100 "3.0.4: download artifact "error: request timeout""
I think the update to 3.0.4 has introduced a bug in the download artifact functionality :-(

Yesterday our last working build used 3.0.3 and the next build used 3.0.4 and failed to download the artifacts.

![image](https://user-images.githubusercontent.com/19322469/47138627-d5a1df80-d2b1-11e8-8e0a-6ba47651b61a.png)

Is there any more information that you need?

[2018-10-18 07:55] huserben commented on #100
Hi @daughey

sorry for that, I've actually tested the download functionality, however I just have some "dummy" artifacts.
I assume your artifacts folder is a bit bigger (more than just a few KB/MB)?

This is reproducable behavior, meaning it happens everytime you trigger the build?

I have the suspicoun that it's caused by a changed setting I made when looking at the timeout settings related to th

[2018-10-18 08:14] huserben commented on #100
I know just uploaded a new version which included the fix that I *think* will solve your issue - can you please give it a try?

If it's not working  I might need a bit more time to figure out what could cause the problem, then it would be good if you could let me know about the size of the artifacts that it's trying to download so I can try to reproduce the issue on my local environment.

[2018-10-18 08:14] daughey commented on #100
Yes, a few hundred MBs for some of those  :-)

I hoped it was just a one off but seven consecutive builds over a timespan of eight hours.

Will give it a go with the new version now and let you know.

[2018-10-18 08:50] daughey commented on #100
Almost ... it made it passed the first artifact but failed on the second.

There are four artifacts being downloaded.  The sizes of the artifacts are 220MB, 264MB, 182MB 0.6MB

(Our largest artifact to is about 700MB but we don't use the queue build task to acquire that artifact - we use the OOTB download artifacts task)

![image](https://user-images.githubusercontent.com/19322469/47142616-308c048

[2018-10-18 09:30] huserben commented on #100
Ok, I think I will then change back the actual download request not to go via the retry method, it could be that this has to be treated specially as we actually get a stream back to store the files, unlike the other requests where we will get "plain" json objects back that can be evaluated.

I'll update you as soon as a new version will be available so you could give it a try again.

[2018-10-18 09:53] huserben commented on #100
New version is available now, please give it another try. Now the behavior should be exactly as before yesterdays change.

[2018-10-18 10:02] daughey commented on #100
Ok. Test build using 3.0.6 is in progress.  Results in about 30 minutes.

[2018-10-18 10:32] daughey commented on #100
Success!

Thank you!

[2018-10-18 10:54] huserben commented on #100
Very good, sorry again for the inconvenience caused by the issue.

I hope now everything runs smoothly :-)

[2018-10-18 10:54] #100 closed

[2018-10-23 10:07] leonjalfon1 opened #101 "Error running the trigger build task in build agent configured inside windows docker container"
I am trying to use the task in a build running on a agent configured inside a docker container.
(the same build in a VM works great, so the problem is running the task inside a container)
I am receiving the error below, any idea?

[code]

[2018-10-23 10:11] migheorghe opened #102 "Triggering a build on a different queue fails"
Trigger build task fails when the queue specified in task parameter is different than the one the build definition is saved with.
Bellow is the log. If the triggered build is already saved with the requested Queue it works.
Is this something I am doing wrong or there is a bug in the task?

Thanks,
Mihai

Found id for team project [PROJECT_NAME]: 00541835-7856-4281-95f2-aa1859ebec54
Will trigger bu

[2018-10-23 18:12] huserben commented on #101
Hi @leonjalfon1

thanks for your input.

By looking at the message it seems that it fails to find the node.exe that is (or should be) part of the agent. This means it's most likely an issue related to the docker image you're using and other node.js based tasks should/would fail as well. You could try to run another node.js task like "Archive Files" and see if we have the same issue just to be sure

[2018-10-23 18:28] huserben commented on #102
Hi @migheorghe

thanks for reporting this.
I got a few questions which should help me narrowing the problem down.

- Was this ever working and just started to break lately?
- If you say if its saved with the requested queue this means that you then don't specify the agent queue in the Trigger Build Task at all?
- From the logs it looks like you specify directly the id of the Agent Queue, is this c

[2018-10-24 06:19] migheorghe commented on #102
_1)Was this ever working and just started to break lately?_
We never tried it with different queue until Friday

_2) If you say if its saved with the requested queue this means that you then don't specify the agent queue in the Trigger Build Task at all?_
We specify the agent queue. This is how we designed the flow in the first place but only lately we needed to change the agent pool of the trigge

[2018-10-24 18:53] huserben commented on #102
Thanks for the reply.

Ok if the triggered build is in the same devops instance and only in a different project, you could once try to specify it via the name, that should actually work.
It should not make a difference but we might get a better log message this way and it could help find and solve the actual problem.

Could you once try this and give me the logs of the result?

[2018-10-25 08:50] migheorghe commented on #102
Apparently having the queue specified by name does not work even when the build is on the correct queue.

This is the log when the queue was specified by name but the build was on a different queue
2018-10-25T08:39:43.3385448Z Provided team project was no guid, trying to resolve ID via API...
2018-10-25T08:39:43.7061561Z Found id for team project ProjectName: 12345635-9314-4283-95f2-aa1859eb79cc
2

[2018-10-25 17:02] huserben commented on #102
Ok that helps already a lot in narrowing down the possible causes.
However I won't get even to start looking into it before the weekend.

As soon as there is any update I'll let you know here.

[2018-10-27 08:11] huserben commented on #102
Hi @migheorghe

I was able to reproduce the error in my dev environment.
It seems like the problem is caused by some insufficient privileges when using the OAuth Token Authentication. When asking for the the available Queues none are returned in that case.
It could be that it worked when the specified QueueId was the same as the default queue as it didn't even try to access anything as they were m

[2018-10-27 08:12] huserben commented on #101
Hi @leonjalfon1

did you make any progress regarding this issue?

[2018-10-29 08:03] migheorghe commented on #102
Thanks @huserben, it works with a PAT.

[2018-10-29 08:03] #102 closed

[2018-10-29 18:05] huserben commented on #102
Ok, I will with the next version update the documentation accordingly so this limitation is reflected.

Thanks for reporting this, please don't hesitate to create other issues if you find something that is not working as expected or you have a feature request.

[2018-11-21 10:46] Sir-Jacques opened #103 "Issue When Using Multiple Variables"
Hey!

I am able to fire a build with no or one variable set (in the format mentioned on the marketplace page). But when I append this variable with a ',' + another variable in the same format ("SomeName: someValue") it crashes the build saying "Could not Trigger build. See console for more Information." In the console is says "Must use title or breadcrumb items + headerItemPicker" which doesn't ma

[2018-11-29 17:27] MattDavisRM opened #104 "Improve Trigger Build Selection Interface"
I think it would be nice if there was a better entry method for selecting the build(s) to queue instead of free-form text entry.  Builds can be segregated by folders now, so it is possible to have same named definition in different folders which can cause a name conflict on which one is being queued.

[2018-11-29 17:47] huserben commented on #103
Hi

so ok the only a bit more special thing I can see in your configuration is the fact that they start with numbers. Do you use any other special character so that I can try to reproduce the problem myself.

I'm currently quite busy so I probably won't find the time to fix this in the near future, but being able to reproduce it would already help and allow me to make some guess about the cause an

[2018-11-29 17:49] huserben commented on #104
Hi @MattDavisRM

Thanks for your input.

I thought about that problem initially (I think it would even be possible without folders to have the same name) but I assumed that the chances that you actually have two identical names are not so high.

The only thing that I could think of would be to be able to specify the id of the build instead of the name. This is actually how the agent queue selectio

[2018-11-29 18:46] MattDavisRM commented on #104
I'm curious if the majority of consumers are triggering a single definition instead of bulk?  Or whether they'd prefer to specify a single queue just with multiple tasks each doing one?  I think listing the id list is a fine compromise, but maybe adding a single/bulk radio button and moving the current input to the bulk selection.  If only selecting a single build definition to queue, could align

[2018-12-02 17:12] huserben commented on #104
Hi

could you elaborate what you mean by "bulk selection".
What I meant is that you could pass the id instead of the name, however it will remain a "free text" box.

Making a selection box would be possible (at least for some configurations), however it would require some configuration work on all the installed instances which I want to prevent.
There are extensions that support that, e.g. https:/

[2018-12-17 15:30] huserben commented on #104
Hi @MattDavisRM

any update on this?

[2018-12-17 15:43] huserben commented on #103
Hi @Sir-Jacques

First of all, sorry that it took that long for me to come back to you, but I didn't have any time the last weeks to properly look into this.

I tried now to reproduce the issue, however for me it works as expected:
![grafik](https://user-images.githubusercontent.com/5486874/50097508-62b5d600-021a-11e9-8caa-2d19b62d89d4.png)

**But there is hope**:
I saw from your logfile that you

[2018-12-18 15:23] Sir-Jacques commented on #103
![image](https://user-images.githubusercontent.com/22247660/50163589-0a95d700-02e1-11e9-960c-7693bb3e0a10.png)

I've got only one option available in this dropdown (which is 2.*). Version 3.* should be visible there right?

Kind regards,
Jacco

[2018-12-18 15:32] huserben commented on #103
Hi
yeah, it *should* look like this:
![grafik](https://user-images.githubusercontent.com/5486874/50164226-585f0f00-02e2-11e9-8ffd-4840438fd182.png)

Can you try over the marketplace website to get the newest version?:
https://marketplace.visualstudio.com/items?itemName=benjhuser.tfs-extensions-build-tasks

[2018-12-18 15:43] Sir-Jacques commented on #103
Aaah,

That might be what's causing the issue, so we're running an outdated version of the plugin.

Our company doesn't allow for plugins from the marketplace to be used in the pipelines though *sad face*. We can only use plugins that are available from Azure DevOps by default.

For now, I think, we'll put this bug on hold, and construct some workaround later on.

Thanks for your effort anyway!

J

[2018-12-18 15:43] #103 closed

[2018-12-18 15:47] huserben commented on #103
Oh ok, but then how did the extensions get there in the first place?
So my guess is that it would be solved with the newest version.

You could even work around by checking out the code here in the repo and basically just reuse the scripts if you want. It's nothing else than a script invoked by node.js with some set of parameters - of course you could build your own stripped down version of this d

[2018-12-18 18:08] chambersDon opened #105 "Getting build ids for descendant builds"
I have Build-A, that triggers Build-B which triggers Build-C.
How can Build A get the buildID from Build C?

Currently, in Build A I inspect TriggeredBuildIds but it only has one value - the id for Build B.  Is this to be be expected?

Here is my scenario and I am open to other ways to accomplish this.

1. Build-C builds my huge solution.
2. Build-B calls C for the build and then deploys a subset

[2018-12-18 19:55] huserben commented on #105
Hi @chambersDon

so currently it is really only supported to get the id's of the build that were triggered within a certain build, not any "descendant" ones.
However I think technically one can get the parameters of a certain build, so the tasks could be extended so all the triggered builds are fetched.

I can see whether this is feasible within the next few days.
If it's urgent for you, you could

[2018-12-20 16:32] chambersDon commented on #105
I am working on a different approach.
I see how to pass variable to your extension, but is there a way to have variable pass the other way?  Maybe a return value?

[2018-12-20 17:10] huserben commented on #105
The task itself is just returning whether it was was successful or not, so the build system can interpret that.
Everything else could just be stored within a variable of the build so later it could be reused by later tasks (e.g. scripts etc.)

[2019-01-29 16:40] rfennell opened #106 "Use Release Environment Variables when Task is used in Context of Release"
I have been using the trigger build extensively with release pipelines that are triggered of PR's on code on GitHub.

In the past I have seen the logging

[code]

These same release stages are failing with the error

[code]

So the user has changed, any idea how I grant trigger build rights to this user?

[2019-01-29 17:12] huserben commented on #106
Hi @rfennell

Thanks for your feedback.

so just for me to summarize if I got everything right:
- The task is run in the context of a release
- It used to work and without you (knowingly) change anything it stopped working?

As the task wasn't update in a while the only thing that could have happened is that something within Azure might have changed - assuming you're using Azure DevOps.

I just ch

[2019-01-29 18:43] huserben commented on #105
Closed due to inactivity.
Please reopen in case the functionality or additional help is needed

[2019-01-29 18:43] #105 closed

[2019-01-29 18:43] huserben commented on #104
Closed due to inactivity.
Please reopen in case additional functionality or investigation is needed.

[2019-01-29 18:43] #104 closed

[2019-01-30 09:03] mykolad opened #107 "Trigger build is failing if JSON needs to be passed as a parameter"
I need to pass a parameter to build definition in JSON. In TriggerBuild task I define additional parameters something like this: TrafficManagerEndpoints: { "a": 50, "b": 50 }

But to build definition this parameter is sent with part after comma cut: TrafficManagerEndpoints={ "a": 50

As the result, I get partial invalid JSON string in my build definition
[code]

Please provide a way to pass JSON p

[2019-01-30 10:02] rfennell commented on #106
Hi, yes I too suspect a change in Azure DevOps

In the working instance (21/9/19)
[BUILD_REQUESTEDFOR] --> [Richard Fennell (Work ID)]
[BUILD_REQUESTEDFORID] --> [98636f62-ee75-4555-88ca-05c113cf6a63]

Failing build
[BUILD_REQUESTEDFOR] --> [Microsoft.VisualStudio.Services.TFS]
[BUILD_REQUESTEDFORID] --> [00000002-0000-8888-8000-000000000000]

So the  user triggering the release (from a build trig

[2019-01-30 11:39] huserben commented on #106
Hi

ok please let me know if you find something out and as well if something maybe needs to change in the task itself.

You could check in the logs maybe what the other "RequestedFor" parameters are set to. I think there is at least one that is "RELEASE_REQUESTEDFOR", maybe this one is still set to the proper value?

As a workaround you can also "force" that it's triggered for you by using a Perso

[2019-01-30 11:59] rfennell commented on #106
On the failing build trigger in the release the values are

[RELEASE_REQUESTEDFOR] --> [Richard Fennell (Work MSA)]
[RELEASE_REQUESTEDFORID] --> [b1fce0e9-fbf4-4202-bc09-a290def3e98b]

So this does appear as expected.

Yes, moving to a PAT as opposed to OAUTH is a good workaround

[2019-01-30 12:09] huserben commented on #106
Ok, interesting.

I can have a look into it, it should be simple to use the dedicated variable depending on the context (Build or Release). Now I just need to figure out how I easily can determine this.

Once I upload a new version with this I'll let you know.
It probably takes a few days till I get to it though.

[2019-01-30 12:52] rfennell commented on #106
On my extensions I check if I am in a release by looking for the RELEASE_REQUESTEDFOR as this can only be seen in a release. I use this then fall back to the BUILD variables.

[2019-01-30 12:58] huserben commented on #106
I was thinking about something along those lines, thanks for the input, I will try it then like this

[2019-01-30 19:32] huserben commented on #107
Hi @mykolad

Thanks for reporting this.

This is actually intended behavior, as the parameter string can contain mutliple key value pairs and the behavior so far is splitting the string by "," to divide individual pairs and then by ":" to distinguish between key/variable name and value.

This can be observed when looking at the log with your string:
`2019-01-30T19:22:56.7003847Z Will trigger build

[2019-01-31 13:33] mykolad commented on #107
Hi @huserben,

Thanks for the quick answer. I had to go with workaround with option 1 in my case.

It would be great if option 2 would be available as well. As an easy solution probably some way of escaping commas would work. Something like:

TrafficManagerEndpoints: { "a"\: 50\, "b"\: 50 }

[2019-02-04 17:38] mykolad commented on #107
Hi @huserben,

As for me, this sounds great. Next week I will be able to test it on my build to confirm the fix.

Thank you for the quick response!

[2019-02-04 17:39] huserben commented on #106
Hi @rfennell

I'm currently working on fixing your problem properly.
As you suggested I'm using a check whether the RELEASE_REQUESTEDFOR is available to determine the context:

![grafik](https://user-images.githubusercontent.com/5486874/52225941-efd8eb00-28ab-11e9-94c5-9d08f3340366.png)
![grafik](https://user-images.githubusercontent.com/5486874/52225957-f8312600-28ab-11e9-864a-81c87dbcaf86.png)

[2019-02-06 16:46] huserben commented on #106
Hi @rfennell

I just updated the tasks and the TriggerBuildTask now comes with "Context-Awareness".
Please give it a try and let me know whether it works as expected or not.

[2019-02-06 16:46] huserben commented on #107
@mykolad

I just uploaded the newest version of the package.
Could you please give it a try with the newest version of the TriggerBuildTask and tell me whether everything works as expected or not?

[2019-02-06 17:06] rfennell commented on #106
Just tried again, got Task Version : 2.8.7 is that correct?

Still getting

[code]

Did you need me to change some setting?

[2019-02-06 17:12] huserben commented on #106
Version 2.8.7 is the latest versoin of the Task in version 2, however the latest version would be 3.0.7 by now.
If you're using Azure DevOps you have to manually upgrade to the 3.* version:
![grafik](https://user-images.githubusercontent.com/5486874/52359724-c601fe80-2a3a-11e9-91a8-5d964fd5208d.png)

The "major" update was done as the Interface slightly changed, however in most scenarios there is

[2019-02-06 17:14] rfennell commented on #106
My mistake, lets try again

[2019-02-06 17:35] rfennell commented on #106
OK, now I see

[code]

And one of my builds works, another fails, but that is a rights issue for that this user, so I think you have a fix.

Thanks

[2019-02-06 17:46] huserben commented on #106
Ok, in that case I'll close this one.
Thanks for reporting and please continue to raise issues in case you run into problems or have a feature request.

[2019-02-06 17:46] #106 closed

[2019-02-15 20:32] huserben commented on #107
Hi @mykolad

did you have time to verify the fix?
Please let me know once you did and whether it worked or not.

[2019-02-18 09:23] mykolad commented on #107
Hi @huserben

I was able to check it and it works great. I passed parameters in Trigger Build task advanced configuration in this format:
TrafficManagerEndpoints:{"$(DeploymentUnit)":50, "$(PreviousDeploymentUnit)":50}

And in my build definition they were correctly received as:
TrafficManagerEndpoints:{"a":50, "b":50}

Thank you, the original issue I posted is resolved.

[2019-02-18 09:23] #107 closed

[2019-02-18 18:40] huserben commented on #107
Hi @mykolad

thanks, thats nice to hear.

If you find something else that isn't working as expected or you think could be improved please don't hesitate to open up other issues.

[2019-04-30 00:05] geofflamrock opened #108 "ECONNRESET issues"
Hi,

I've been seeing some issues when triggering builds from a release pipeline where the call fails with an ECONNRESET repeatedly. The call is being retried 5 times but each time is still failing. I noticed that the retries are very close together (around 10 - 15ms apart, so the whole retry process was done within about 300ms), and was wondering whether there was a way to have some sort of delay

[2019-05-02 18:43] huserben commented on #108
Hi @geofflamrock

Thanks for your feedback.
I quickly checked and it's true that we don't wait at all at the moment and just set off the next request.

I think I'll add a delay somewhere around 500ms and 1s between the retries, or what would your proposal be?

Also I'm rather busy at the moment and won't have time to make and test a change at least the next two weeks. I hope that's fine and you're

[2019-05-02 23:10] geofflamrock commented on #108
Hi @huserben,

Thanks for the reply, yes some sort of random or potentially even an exponential backoff type delay (first 1s, then 2s, then 4s etc.) might be helpful. The delay could even be configurable like the setting that allows delay between triggering multiple builds if you wanted to go that far, but may not be necessary for this robustness improvement.

I'm not blocked by this issue anymore

[2019-06-15 23:04] jrdodds opened #109 "Build variables Build.SourceBranch and Build.SourceBranchName are empty on a triggered build when the branch is not specified"
v3 of Trigger Build Task with a TFVC repository with on-premise TFS 2017.
1.) Uncheck 'Use same source branch as triggered build'.
2.) Leave 'Defines Branch that shall be used' empty.

In the resulting triggered build, the predefined build variables Build.SourceBranch and Build.SourceBranchName are empty. The expectation is that these variables should be set from the value of the default branch.

[2019-06-16 12:48] huserben commented on #109
Hi @jrdodds

Thanks for your feedback.
When making the request the parameters should be ignored and thus let TFS handle it.

I checked the [docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#build-variables) but couldn't see anything about the variables beeing empty.

I quickly checked online and found out that it seems that TFS behaves like,

[2019-06-19 08:30] aee11 opened #110 "Feature for TriggerBuildTask: Only check build conditions from the same branch"
We are building build definition A
* If Build In Queue condition is enabled and the blocking build definition is B, then the build is only not triggered if B is queued/in-progress _on the same branch_ (currently other branch builds can block this condition)
* If Successful Dependent condition is enabled and the blocking build definition is B, then the build is only triggered if B is successful _on

[2019-06-19 18:22] huserben commented on #110
Hi @aee11

Thanks for the feedback, this sounds like a meaningful addition.
However I guess it makes only sense to apply this in case you're working with:

1. git repositories
2. the build(s) affected are in the scope of the same repository

So the documentation/help text should be accordingly updated.

I'm planning to make a change for #108 so I could have a look into this also, however timewise

[2019-06-25 16:05] aee11 commented on #110
Hey @huserben !

Thanks for the fast response. I completely forgot to say thank you for the already great extension. I think your extension is the "missing link" in order to get our monorepo build dependencies setup correctly. So yes, in my case, the builds are in the scope of the same git repository but to keep the trigger mechanism isolated to a certain release branch or the master branch, this

[2019-06-28 07:18] DDeAlmeida opened #111 "Trigger new build add "C" to changesetversion"
Hi,
I'm using your extension, all are work as espected except when i trigger a new build with "Use current changeset for the triggered build" option.

The trigger build have the same changeset but prefixed by "C".

Build 1 : ( which trigger build 2 )
Get sources : ##[command]tf vc get /version:943 /recursive ....
Trigger a new build : Triggered Build will use the same source version: C943

Build 2

[2019-06-30 15:40] huserben commented on #111
Hi @DDeAlmeida

Thanks for your feedback.
As far as I remember is the "C" prefix needed when we specify the exact version on a TFVC environment.
However it feels odd if the nuget fails due to that.

Could you once try to queue "Build 2" manually and specify the source version explicitly:
![grafik](https://user-images.githubusercontent.com/5486874/60398925-fb2ffa00-9b5d-11e9-8403-b899336ce693.png)

[2019-06-30 17:09] huserben commented on #110
Hi @aee11

so I'm finally getting to look into your feature request.
Yeah it could theoretically work with having the same branch structure "by chance", but I think it's best that I'll try to make it clear in the help/documentation that this is inteded for builds within the same git repo (also it's not for anybody using TFVC).

I would propose that we add exactly one checkbox in the condition area

[2019-06-30 17:49] aee11 commented on #110
Yes, a single checkbox would be perfect. I can't imagine a use case where
it is needed for each condition.

I look forward to trying this out!

Thanks once again.

On Mon, 1 Jul 2019, 02:09 Benj Huser, <notifications@github.com> wrote:

[2019-07-01 07:19] DDeAlmeida commented on #111
Hi, thank you for your answer.
Same error when build 2 is launch with "C" + Changeset Number

I added a powershell to remove the C when is present in Build.BUILD_SOURCEVERSION

Thank you

[2019-07-01 07:19] #111 closed

[2019-07-01 17:36] huserben commented on #110
Hi @aee11

so I have a working version now of what you suggested. You can specify the option within the Conditions:
![grafik](https://user-images.githubusercontent.com/5486874/60455620-24708900-9c37-11e9-8fa9-f0d48ba9ffcd.png)

Which would cause to filter the respective builds for the same branch:
![grafik](https://user-images.githubusercontent.com/5486874/60455640-381bef80-9c37-11e9-9a35-5759de27

[2019-07-01 17:40] huserben commented on #109
Hi @jrdodds

Could you work around your issue?
If the API is behaving like this it's hard to properly work around that, so we do not get unexpected results...

If you have any idea on how to solve it from the Task itself let me know, then I could assess whether it's possible or not (and within what timeframe).

[2019-07-01 17:41] huserben commented on #91
Will close due to inactivity - please reopen if needed.

[2019-07-01 17:41] #91 closed

[2019-07-01 17:41] huserben commented on #78
Will close due to inactivity - please reopen if there is still an issue

[2019-07-01 17:41] #78 closed

[2019-07-01 17:42] huserben commented on #61
Closed due to inactivity - please reopen if it's still an issue

[2019-07-01 17:42] #61 closed

[2019-07-01 18:29] huserben commented on #108
Hi @geofflamrock

The newest version of the tasks will have the discussed handling of the wating time.

I will close the issue as I cannot test it under "real" conditions (unless you know how to force Azure DevOps to go down :-)). If you feel like it's not properly down please don't hesitate to reopen the issue.

I wanted to thank you again for reporting this problem and please feel free to open a

[2019-07-01 18:29] #108 closed

[2019-07-03 08:44] aee11 commented on #110
I just tried it out today and it works perfectly. Thanks for this, truly!

[2019-07-04 18:14] huserben commented on #110
Thanks for the feedback, and please don't hesitate to open another issue in case you find any problems or have a proposal for an improvement or also just in case of a question.

[2019-07-04 18:14] #110 closed

[2019-07-09 22:42] geofflamrock commented on #108
Thank you @huserben for including this feature, if we encounter any issues I'll let you know.

Thanks for making a great extension :)

[2019-08-08 07:04] harikrishnanelluri opened #112 "Failed request: (401)"
##[debug]Processed: ##vso[task.issue type=error;]Failed request: (401)
##[debug]Processed: ##vso[task.complete result=Failed;]Failed request: (401)

[2019-08-09 00:02] AArnott opened #113 "400 Error printed without any help in logs"
The log for the failed task just includes the 400 error code. No logs to reveal the request that was sent or the rest of the response message that explain the error. How can we investigate the failure?

[code]

[2019-08-25 13:17] huserben commented on #113
Hi @AArnott

sorry for the late response, I was on vacation the past weeks and didn't have time to check github.

Does this error happen every time for every build or only in specific scenarios?
Did it ever work for you or did it just start to happen one day? Did you ever try to set the debug parameter to true when queueing the build and check the output then?

[2019-08-25 13:18] huserben commented on #112
Hi @harikrishnanelluri

sorry for the late response, I was on vacation the past weeks and didn't have time to check github.

Does this error happen every time for every build or only in specific scenarios?
Did it ever work for you or did it just start to happen one day? Did you ever try to set the debug parameter to true when queueing the build and check the output then?

Without more details it's

[2019-08-25 14:03] AArnott commented on #113
It was when I started trying to use your task, so there's no guarantee I was using it properly. In fact after filing this issue I found a mistake which when corrected, made your task function properly. I don't recall exactly what it was -- possibly a bad build id or something.

So I don't think the issue is that your task failed when it should have succeeded. I think rather you can take this as fe

[2019-08-26 15:57] huserben commented on #113
Ok, yeah that makes sense, I will have a look into it when I find the time.

However I'm not sure if I'm able to get more detail as I'm using the Microsoft Azure Devops Rest Client Service that is sending the request...anyway in case I manage to reproduce a "wrong" request I will debug into what's available for output to the logs.

Thanks anyway for your input and to contributing to make the task

[2019-09-06 12:01] FelixS90 commented on #102
Are there any plans to fix the issue such that this also works with OAuth? PATs may be subject to expiry at some point, which adds maintenance effort.

Thanks a lot!

[2019-09-07 09:56] huserben commented on #102
Hi @FelixS90

I haven't looked any further into the issue. As far as I can tell it's either a problem with the API that it's not allowed somehow or it's about the configuration on TFS/DevOps with the privileges (however I'm no expert in that so I can't really judge...).

At least currently I have no plan in further investigating, as I don't think from the Task side there's much to be done. However

[2019-09-09 18:59] codyconfer commented on #113
I am having this issue as well, and it seems that it occurred once I added more than one build variable.

I am following the varKey: "varValue", var1Key: "var1Value" syntax, the variables seem to be getting set correctly based on log output, but I cannot for the life of me figure out how to get rid of the 400 errors without being able to see the actual request that is getting sent out.

[2019-09-09 19:31] codyconfer commented on #113
I've blown this task away several times and tried to recreate it, stripping more configurations each time and leaving default values.

I think there may be a deeper issue here.

[2019-09-09 19:32] codyconfer commented on #113
[code]

[2019-09-09 19:48] codyconfer commented on #113
finally found it, I had to turn off "Use same source branch as triggered build".

[2019-09-10 16:23] huserben commented on #113
@codyconfer
Thanks for your input, I believe this is (sort of) already captured in the [Known Issues](https://github.com/huserben/TfsExtensions/blob/master/BuildTasks/overview.md#known-issues).

I currently don't have a lot of spare time to spend on the task, thus the improvements on the logs is still on hold.

I would post an update here in case any new changes are implemented.

[2019-09-26 15:52] brsrom commented on #113
I started getting the same error message out of the blue without any changes in the pipeline, used to work for weeks. Do you have any ideas on how to troubleshoot it?

[2019-09-27 15:20] huserben commented on #113
Hi @brsrom

that is odd, does it happen now all the time or just sporadically?
Could I see the logs to check whether something looks odd in terms of configuration?

[2019-10-30 11:47] realrubberduckdev opened #116 "Triggering builds from release ##[error]Path must be a string"
Triggering a build from a release stage on Azure DevOps throws the following error.
Does anyone know of a fix or workaround?

[code]

[2019-10-30 13:38] realrubberduckdev commented on #116
Found this workaround which works for me. Might help others hitting this issue.
[antony-wintech's description on github issue](https://github.com/megoels/VSTS-Extensions/issues/4).

I just added an Powershell step with the following lines inline:

[code]

[2019-11-09 10:22] huserben commented on #116
Hi @realrubberduckdev

thanks for reporting this and sorry for the (very) late answer.
Also thanks for letting others know on how you solved your problem, this is very much appreciated.

To the issue itself, could it be that you are using the built-in way of triggering builds based on other builds or are you really using the Trigger Build Task from the [Marketplace](https://marketplace.visualstudi

[2019-11-09 10:22] huserben commented on #112
Closed due to inactivity/not enough information

[2019-11-09 10:22] #112 closed

[2019-11-09 10:23] huserben commented on #109
Closed due to inactivity

[2019-11-09 10:23] #109 closed

[2019-11-09 10:36] realrubberduckdev commented on #116
Hi @huserben You are right! I have opened an issue on the wrong codebase. Apologies. Closing this.

[2019-11-09 10:36] #116 closed

[2019-11-16 02:43] alexkrytsky opened #117 "Empty parameter passing to a build"
Is there a way to pass an empty parameter to a Trigger Build Task?
the required format is key:val, key2:val2. Any possible way to make it something like key: , key2:val2 and in the triggered build, it would be just an empty parameter?

Right now just doing this and overriding some default values this way:
[code]

In the trigger_pipeline.yaml I'm using the task and passing **PIPELINE_PARAMS** in **

[2019-11-17 15:21] huserben commented on #117
Hi @alexkrytsky

so is the default value of the variable different than empty? Otherwise you could just not specify it and it would take the default (empty) variable.

Otherwise you can try it in the proposed form _key: , key2:val2_ - I couldn't try it myself yet but it could work. Another option could be to put _key: "", key2:val2_ and see what happens then.

The last option could always be to ha

[2019-11-18 15:51] alexkrytsky commented on #117
Hi @huserben ,
The default value might be empty or some value so I need to support both values.

I was thinking about the last option as a workaround in the target build has a parser at the very beginning of the build.

I tried _key: , key2:val2_ but it throws an error since it requires _key:value_ format. Option with key:"" will work but the actual value of the variable is ("") which can also be

[2019-11-19 07:44] kobi86 opened #118 "Cant trigger build"
Hi ,
Just wanted to let you know that when i try to trigger a build using the addon- i get
"error message: Error: TF215106: Access denied. Project Collection Build Service (XXXXX) needs Queue builds permissions for build pipeline 31:XXXXX in team project XXXXXX to perform the action. For more information, contact the Azure DevOps administrator."

when doing so from a script - its working

[2019-11-19 08:19] kobi86 commented on #118
The issue accord both in my end and Microsoft

[2019-11-21 18:32] huserben commented on #117
Hi again

ok very good to know and I'm glad it worked out for you (can't say that this was intentional :-))

For your second question:
In general don't worry and feel free to open new issues for different questions/requests.

Just to rephrase your question so I can be assured I got it right:
You have Build A that triggers a number of Builds (let's call them X, Y and Z). Then as part of "A" you wan

[2019-11-21 18:36] huserben commented on #118
Hi @kobi86

Thanks for reporting this.

This seems like there is some issue with the authentication, what Authentication method are you using?
It could be that for example if you use a Personal Access Token that the rights associated with this Token has insufficient rights.

[2019-11-22 00:10] alexkrytsky commented on #117
Hi @huserben,

I hope that unintentional feature will remain there in place! It helps quite a bit! Also, don't know if that's intentional or not, you allow duplicated variables to be passed in the build and the latest variable that was added will take precedence. I hope it's a feature and it will remain there! Also really helpful!

You did understand my question correctly.
Unfortunately, I wasn't

[2019-11-23 09:32] huserben commented on #117
Hi

Instead of having a script to cancel you could still use the task, but just having a script that would somehow fetch the ID's of the currently running builds. The script could get those id's and just store it in the variable so the Cancel Task would pick it up.

In order to fetch currently running builds you can use the REST API as described here:
https://docs.microsoft.com/en-us/rest/api/azur

[2019-11-24 06:14] MisinformedDNA commented on #113
@codyconfer Thank you! That solved my problem.

[2019-11-27 09:37] petermisovic opened #119 "Trigger build with specific Source ID"
Hello, is there any chance ti trigger build with specific Source ID?

[2019-11-27 19:11] huserben commented on #119
Hi @petermisovic

I'm sorry but currently it's not possible to manually specify the source version, only to either queue with the default sources of the same one as the build is being run with.

It could be added but is currently not on the roadmap, so I can't make any promises about if or when it would happen.

[2019-11-28 06:26] petermisovic commented on #119
Hello, thanks for update. It would be great update for pipelines. I will stay in track if you would change your mind :) I made it for myself via Powershell script for now

[2019-12-01 19:42] MisinformedDNA commented on #113
If you mean the second bullet-point, that specifically calls out release pipelines.

![image](https://user-images.githubusercontent.com/1784452/69919230-613be880-1440-11ea-9ba8-6122e8de2b7e.png)

[2019-12-02 16:47] huserben commented on #113
Hi @MisinformedDNA

Yes, but wasn't the context of the problem a Release?
Or did I miss something? :-)

[2019-12-04 03:17] MisinformedDNA commented on #113
I guess I missed that. But I was seeing this same error message in a Build pipeline.

I figured it out. The (YAML) pipeline it was calling didn't exist on the master branch (only in a pull request).

[2019-12-04 05:13] icnocop opened #120 ""Trigger Build" task no longer listed as an installed task"
Hi.

Thank you for the "Trigger Build" task.

After uploading and installing `benjhuser.tfs-extensions-build-tasks-3.0.11.vsix`, the "Trigger Build" task is no longer listed as an installed task.

If I uninstall and remove it, and then upload and install `benjhuser.tfs-extensions-build-tasks-3.0.1.vsix`, the "Trigger Build" task is listed as an installed task.

I'm running Microsoft Visual Studio

[2019-12-07 11:00] huserben commented on #120
Hi @icnocop

In the extension management can you see that the Trigger Build Task Extension is properly installed? Is there something to take from the logs when installing it that would hint what potentially failed?

Also is it happening for every task > 3.0.1 or only specifically for version 3.0.11?
It might be that a breaking change was introduced that it's not supporting your version of TFS anym

[2019-12-08 01:06] icnocop commented on #120
Hi @huserben

I'm experiencing an issue when testing to see which specific versions are broken after 3.0.1.

When I remove the extension from the server, I still see the "Trigger Build" task listed when adding a build step when editing a build definition.

There's no option to uninstall the extension, and https://docs.microsoft.com/en-us/azure/devops/marketplace/uninstall-disable-extensions?view=t

[2019-12-08 17:07] huserben commented on #120
Ok, sorry I really don't have any experience with managing the tasks on TFS, so I cannot assist much guidance here.
However I think you need to use this "Single Version" package becuase as mentioned some TFS versions do not support the one that includes multiple versions. As it wasn't clearly specified in the docs I checked with the people from Microsoft (https://github.com/MicrosoftDocs/vsts-docs

[2019-12-10 09:53] icnocop commented on #120
Thank you.

I originally uploaded and installed the "Single Version" v3.0.11 and didn't get any errors, but the task was not available as a build step.

I'm not exactly sure which log I should look at to see if there are any additional messages.

Also, I'm not exactly sure which version of the task I'm currently using, even though TFS now says 3.0.11.

![image](https://user-images.githubuserconten

[2019-12-10 16:56] huserben commented on #120
Hi

so you can see which task you are using when you run your build. In the logs of the Trigger Build task step you should see in the header which version is used.

If this says 3.0.11 I assume everything works fine :-)

[2019-12-11 06:29] icnocop commented on #120
Thank you.

I don't see a version number in the build logs, and as you indicated, it's probably because I'm using TFS 2015.

I did find a version number in the `tasks` directory on the build agents:
`C:\agent\tasks\TriggerBuild\2.8.7`

Should I expect that to have been `3.0.11`?

Thank you.

[2019-12-12 18:09] huserben commented on #120
Hmm if you start your build with the variable _system.debug_ set to _true_ you should get more information. I don't recall exactly but either in the build task itself or in the very first task of the build the number of the task used should be visible.

At your above screenshot of the manage extensions it looks like the task is actually not installed yet (at least the install button seems to be ac

[2019-12-17 18:43] alexkrytsky commented on #117
Hi
That's a really good idea! I'll do that! Thank you for your assistance with this!
Thanks for these nice extensions! Great job!!
I think we can close the issue now 😊

[2019-12-18 18:13] huserben commented on #117
Hi

I'm glad I could help.
Thanks for reporting the problem and please don't hesitate to open up new issues in case you have questions or find a bug or are in need of an addition feature.

[2019-12-18 18:13] #117 closed

[2019-12-19 01:08] icnocop commented on #120
I added the `system.debug` variable and set it to `true`, but I couldn't find the version number in any of the build logs.

Here's a copy of the aggregated build log:
[1_Build - Clean.txt](https://github.com/huserben/TfsExtensions/files/3981265/1_Build.-.Clean.txt)

All the extensions uploaded and even installed on TFS still have their Install button active.
When I click the Install button, TFS as

[2019-12-23 03:13] wangyan0821 opened #121 "##[error]Failed request: (401)"
I wanted to trigger a build which in another tfs server, and I used all three Authentication Method, but none of them was successed. The error is below:

2019-12-23T02:44:41.1718180Z Using Custom Team Project
2019-12-23T02:44:41.1718457Z Team Project: TestManager
2019-12-23T02:44:41.1718547Z Using Custom Collection Url
2019-12-23T02:44:41.1721969Z Server URL: http://tfs/DefaultCollection
2019-12-2

[2019-12-24 09:05] huserben commented on #121
Hi @wangyan0821

The error code 401 suggests that the authentication failed.

As you mentioned you used all 3 methods, the OAuth Token will **not** work when trying to queue anything on a different server or collection, only on the one your build is running already, so that's expected to fail.
I think Basic Authentication (respectively "Alternate Credentials") have to be manually allowed and will

[2019-12-24 09:11] huserben commented on #120
Hi @icnocop

ok I see, seems like the build logs from your version of TFS do not contain any proper version infos then.

Ah ok, as mentioned I'm not familiar with TFS and it's Extension Management.

C:\agent\tasks\TriggerBuild\2.8.7
Should I expect that to have been 3.0.11?

Yes my expectation would be that it will update the agents with the newest version of the task if it's successfully installe

[2019-12-24 09:12] huserben commented on #118
Closed due to inactivity

[2019-12-24 09:12] #118 closed

[2019-12-26 01:57] wangyan0821 commented on #121
Hi, huserben
    Thanks very much.  It was worked after I did the things below:
     1. set the OAuth Token not work
     2. used PAT and make sure that the PAT on the target TFS has the necessary permissions

[2019-12-26 01:57] #121 closed

[2020-01-10 09:13] Ajmal18 commented on #109
Hi ,
i also have same issue..use case
i trigger build from release build definition using trigger build task and these two variables are empty..
is there any way i can get it populated?
Thank you

[2020-01-15 19:32] huserben commented on #109
Hi @Ajmal18

sorry for the late reply.

So you mean the variables are not set in the target build that you have triggered right?
What you could try is to to pass them as parameters via the TriggerBuildTask.

So something like:
_Build.SourceBranch: $(Build.SourceBranch), Build.SourceBranchName: $(Build.SourceBranchName)_

I have not tried it, but I guess it's worth a shot. If this doesn't work dire

[2020-01-21 02:56] icnocop commented on #120
Thank you, @huserben.

I deleted `C:\agent\tasks\TriggerBuild` and uninstalled the extension in TFS.

I verified the "Trigger Build" task isn't listed when adding a new build step.

I installed [benjhuser.tfs-extensions-build-tasks-3.0.11.vsix](https://github.com/huserben/TfsExtensions/blob/master/BuildTasks/Releases/singleversion/benjhuser.tfs-extensions-build-tasks-3.0.11.vsix) (Single Version)

[2020-01-21 02:56] #120 closed

[2020-01-21 03:27] icnocop commented on #91
I was experiencing this issue with v3.0.11 (single version) on TFS 2015 Update 4 and installing
[3.1.0_preview](https://github.com/huserben/TfsExtensions/files/2307636/benjhuser.tfs-extensions-build-tasks-3.1.0_preview.vsix.zip) resolved the issue for me.

Is 3.1.0_preview older than 3.0.11?

Thank you.

[2020-01-21 23:41] dgomsvek opened #123 "Universal solution for build parameter escaping"
There have been a couple different issues and resolutions reported regarding the Trigger Build Task's "build parameters" input and its splitting. However we're still running into issues passing arbitrary values through as parameters.

I propose a once-and-for-all solution which should be able to maintain backwards compatibility:

Can you add a new mode to TfsRestService.buildParameterString()? Whe

[2020-01-22 17:45] huserben commented on #120
Hi @icnocop

Thanks for the update and I'm glad to hear that it worked out.

Please feel free to open a new issue in case you in case you need any assitance or find a problem.

[2020-01-22 17:49] huserben commented on #91
Hi @icnocop

3.1.0 should be newer than 3.0.11 :-)

You trigger it from within a Release definition?

Ok the log is very strange, as it seems to not fail but just "not do" anything.
I'm glad that it works with 2.9.2, it could be that there are issues with the API used in the newer versions that are not implemented by TFS 2015...that's at least the only explanation I have.

[2020-01-22 17:53] huserben commented on #123
Hi @dgomsvek

Thanks for the input.
So do I get it right that you want to pass a plain json object? Because that should already be supported when you enclose the value in curly braces (see also https://github.com/huserben/TfsExtensions/blob/master/BuildTasks/overview.md#build-parameters):

01VarName: { "a": 50, "b": 50 }, 02VarName: { "Value1": 12, "OtherObject": { "SomeValue": 13, "Child": { "Nam

[2020-01-22 18:50] dgomsvek commented on #123
Hi there, thanks for the response!

If I understand correctly, the existing functionality you're describing allows one to supply json as a _value_ for any given parameter. What I'm proposing is to instead accept a json hash for the _entire parameter set_. So for your example here:

`01VarName: ... , 02VarName: ...`

One could pass this:

`{ "01VarName": "...", "02VarName": "..." }`

The reason is

[2020-01-22 19:02] huserben commented on #123
Thank you for the clarification, now I understand.
No I think is is actually a good proposal as it does not break existing usages.

I will have a look into building it in, however I can currently not work on it so it might take some time till it will end up in the task and be available to you.

I'll keep this thread updated if there is any new information or in case a question comes up.

[2020-01-23 19:24] v-bekif commented on #123
Hi,

I'm running into a related splitting issue that would be solved by the ability to pass in a json string representing the full parameter set:

One of the parameters is a multi-delimited string, like so:

`Var1Name,Var1Value;Var2Name,Var2Value;...`

However, when the parameter goes through buildParameterString(), it comes out like this:

`Var1Name, Var1Value;Var2Name, Var2Value;...`

It'd be tr

[2020-01-27 21:52] icnocop commented on #91
Hi @huserben.

TFS 2015 doesn't have separate concepts of "Build" and "Release" definitions.

![image](https://user-images.githubusercontent.com/507649/73217073-166ee200-410c-11ea-8d16-395a33bd4190.png)

Yes, you are probably right.

Thank you.

[2020-01-30 21:14] icnocop commented on #91
I noticed [package.json](https://github.com/huserben/TfsExtensions/blob/master/BuildTasks/triggerbuildtask/triggerbuildtaskV3/package.json) is using `"azure-devops-node-api": "^6.6.3"`.

[API and TFS Mapping](https://github.com/microsoft/azure-devops-node-api#api-and-tfs-mapping) seems to indicate that v6.6.3 may not be compatible with earlier versions of TFS.

I'm wondering if `azure-devops-node-

[2020-01-31 05:44] icnocop commented on #91
For reference, I'm getting a 404 Not Found error when trying to trigger a build on a different queue.
See https://github.com/microsoft/azure-devops-node-api/issues/371

Should I create a new issue?

Thank you.

[2020-02-01 15:25] huserben commented on #91
Thanks for this input, at least that brings some clarity about the (currently) supported versions of TFS.

I'm a bit hesitant to roll back to such an early version as I can't tell if it's fully compatible and I currently lack the time to thorougly test all the scenarios.

If you do need it (for example if you have not planned any upgrad of your TFS) I can try to look into it, but it might take a b

[2020-02-13 04:56] milliamp opened #125 "Unable to download artifacts published by built-in Publish Build Artifacts on Azure DevOps Server 2019"
When using the Trigger Build task, and selecting 'Download Build Artifacts' on our Azure DevOps Server 2019 installation, a build artifact published by the built-in 'Publish Build Artifact' task will fail to download the artifacts.

The agent output shows the following:
[code]

This is caused by the `TfsRestService` npm package doing a case-sensitive compare on artifactType ("container" vs "Contai

[2020-02-13 19:18] huserben commented on #125
Hi @milliamp

Thank you for reporting this and awesome that you created a PR to fix it right away.
I'll have update the Task accordingly and will publish a the new version as soon as possible - I'll have a look during the weekend and you should have the new version latest on monday.

I will let you know once it's available.

[2020-02-16 17:30] huserben commented on #125
Hi @milliamp

I have now published a new version of the tasks where all use the new version of the tfs rest service that include your fix.

Can you please verify it and let me know whether everything now works as expected? :-)

[2020-02-16 17:30] huserben commented on #123
Hi @dgomsvek @v-bekif

I have published a new version of the extension that includes your suggestion.
In case a string is passed that is enclosed by '{' and '}' it will be taken "as is":

![grafik](https://user-images.githubusercontent.com/5486874/74609425-2023ae00-50ea-11ea-9caa-c04699c8104a.png)

I hope this will solve your problems.

Could you verify it and let me know whether it worked?

[2020-02-16 17:30] huserben commented on #119
Hi @petermisovic

I published a new version of the task that now supports to select a custom source version:
![grafik](https://user-images.githubusercontent.com/5486874/74609453-53fed380-50ea-11ea-9c42-273954578f78.png)

Could you let me know whether this fulfills your needs and wheter it works as expected or not?

[2020-02-17 15:28] dazfez commented on #119
Hi @huserben ,

I'm also interested in this fix.
Should that work with a pipeline variable?

![image](https://user-images.githubusercontent.com/30142020/74666792-0e99df00-519a-11ea-82ee-05b20f88c1a4.png)

I've tried it but couldn't get that to work. If I use the full SHA it works fine

Thanks,

Darren.

[2020-02-17 16:17] huserben commented on #119
Hi @dazfez

It should work with a variable, however according to your screenshot you apply the "Powershell" logic of retrieving this variable :-).

So assuming you have defined a variable named _TargetCommitVersion_ then you should put _$(TargetCommitVersion)_ as value.

Can you try this out and let me know whether it works with that change?

[2020-02-18 08:48] dazfez commented on #119
Hi @huserben,

Yes, sorry my mistake. That works fine using _$(TargetCommitVersion)_ .
Thanks again for adding this enhancement to the utility.

Regards,

Darren

[2020-02-18 12:43] ArazAbishov opened #126 "Using build definition ID rather than name"
First of all, thanks a lot for putting in work to maintain the extension!

The docs specify that build definition name should be used for triggering the builds. Is there a possibility to use build definition ID, which is less prone to changes?

Thanks!

[2020-02-18 19:27] dgomsvek commented on #123
Thanks! We will get updated and test it.

[2020-02-18 21:49] dgomsvek commented on #123
@huserben good news! This has solved our encoding issues. Thanks again!

[2020-02-18 21:49] #123 closed

[2020-02-22 14:25] huserben commented on #119
Hi @dazfez

Thanks for the verification.
I'll close the issue then, if you or @petermisovic have problems or requests feel free to open a new issue.

[2020-02-22 14:25] #119 closed

[2020-02-22 14:47] huserben commented on #126
Hi @ArazAbishov

Thanks for the input.
Yes it's possible, I would suggest the following behavior:
- Treat every input like it's a build definition name (for the unlikely possibility that someone has named his build with only numbers...)
- If we cannot find any build with that name, check whether the specified string is a number
- If it's a number, just use as is

The advantage is that we will not

[2020-02-22 16:30] petermisovic commented on #119
Great, thank you!

[2020-02-22 16:33] petermisovic commented on #119
I will try and let you know as soon as possible. I have to get rights to install extension in our server.

[2020-02-23 08:31] huserben commented on #126
@ArazAbishov

I published now a new version that contains the change.
Please let me know whether it works as expected.

[2020-02-25 20:24] ArazAbishov commented on #126
Thanks for dedicating time to add the feature @huserben, and sorry for the late response. I will test the new version and will come back to you.

[2020-03-03 13:20] jdcurran-git opened #128 "Triggering builds from a new branch fail with pipeline is invalid"
This may be just a configuration issue on my end but thought I would ask here first.  I have been using the TriggerBuild now for a while and it has been working great!  Recently we have some new developers on board and they are branching -> doing their work -> then updating the DEV build pipeline to use the branch they created.  Their build will kick off fine and trigger a build of my QA tests but

[2020-03-03 17:15] jdcurran-git commented on #128
I found my problem...  In the advanced section I needed to uncheck the "Use current source version for the current build"  All good now!

[2020-03-03 17:15] #128 closed

[2020-03-03 17:15] huserben commented on #128
Hi @jdcurran-git

is it possible that you setup the trigger build task to use the same source version as the build where it is running in? That could explain the behavior you're experiencing :-)

[2020-03-12 09:23] 1Siger1 opened #129 "Triggering task hangs or gets information about the completion with very long delay"
We are using extensively this task to trigger nightly builds on Azure DevOps. Lately there is problem that the tasks do not complete even when the triggered build completed with success. There are also long delays between completion of the child build and getting information by the triggerer. Refresh time for all triggered builds is set to 60 seconds. Build time for all triggered builds is shorter

[2020-03-14 10:13] huserben commented on #129
Hi @1Siger1

this is indeed strange behavior.
When you say lately the problem started happening, is it possible to narrow it down to a certain time? Whether it might have been introduced with some update?

I do not remember having done any impactful changes of late so I'm wondering whether it's the task itself or something in the infrastructure/azure devops?

From your image there seems to be an e

[2020-03-19 17:13] jensheidrich-acn opened #130 "Download Artifacts not working at MAC Build Machines"
When using the "Download Build Artifacts" feature at a build running on a MAC build machine, there is an issue with / and \.

It seems to add automatically a \ before the zip name, which is a problem on MacOS systems.

Potentially this is the root cause (huserben/TfsRestService):
[https://github.com/huserben/TfsRestService/blob/a801b4cd0f32c6d2d970d53d122ffaf5bf9cd873/index.js#L201](https://github

[2020-03-19 18:58] huserben commented on #130
Hi @jensheidrich-acn

thanks for reporting this.
Yes that's cleary an issue and I haven't thought about it.

I will fix this as soon as possible, however I can currently not give any statements on when I will find the time to do so. I hope I can have a look at it over the upcoming weekend.

I'll let you know here once I have an update.

[2020-03-21 08:19] #126 closed

[2020-03-21 08:20] #125 closed

[2020-03-21 08:54] ArazAbishov commented on #126
Ah, my apologies, I forgot to respond with the feedback. The updated version of the task works really well. Thank you!

[2020-03-21 09:02] huserben commented on #130
@jensheidrich-acn

I have published now a new version of the tasks that should deal better with different separators used on the different operating systems.

Could you verify whether it solves your problem now and let me know in any case?

[2020-03-23 07:47] jensheidrich-acn commented on #130
Awesome response time!
After your fix it works perfectly:

**Logs:**
[code]

![image](https://user-images.githubusercontent.com/28709254/77293510-c6af3000-6ce2-11ea-93af-abe7990c4da7.png)

[2020-03-23 07:47] #130 closed

[2020-03-23 09:53] huserben commented on #130
Hi @jensheidrich-acn

Nice to hear.
Thanks again for reporting this and helping to improve the task.

Please don't hesitate to create new issues in case you run into a problem, you have a feature request or a just a question.

[2020-03-23 21:18] dpharrisplpf opened #131 "Waiting for a triggered build throwing an error"
As of the update on March 21st, waiting for a triggered build throws the following error:
Cannot read property 'definition' of null

Environment:
- Azure Devops 2019 (Onsite)
- I have multiple builds across multiple team projects triggered as a part of this build definition.

This build runs multiple times per day and did not start failing until this update was installed.  I've reverted back to ve

[2020-03-24 18:39] huserben commented on #131
Hi @dpharrisplpf

I'm sorry to hear that the latest update seem to have broken something.
Could you provide your configuration and also the logs of the task when it's failing?

I ran basic tests before publishing that all succeeded, so it might be a configuration option that went untested.

Can you run other tasks like the trigger build without any problems?

[2020-04-02 08:54] Iridias commented on #129
I encountered the same problem yesterday (using TriggerBuild version 3.1.7).
The triggered build finished after 2 Minutes, but 20 Minutes later, the task was still waiting! (Refreshtime was set to 10 seconds)
The last message in the log is:

I canceled the build at this time, to not block the build-agent any longer.

[2020-04-05 16:22] huserben commented on #129
Hi @Iridias

did this just happen "out of the blue" or did you do some update (e.g. of the task, of your Azure DevOps Server in case you are using it or anything else). Or was it ever working for you?

In the last days/weeks I have observer sometimes some issues with Azure DevOps which might be related to high traffic in relation to the current situation - it might be that something is wrong there

[2020-04-06 06:51] 1Siger1 commented on #129
Hi @huserben,

I am monitoring my configurations and I can say that this problems are totally random. My builds are most of the time started little after midnight so there shouldn't be big strain on Azure DevOps resources. I turned on system.debug parameter to get more information when the problem reappears again. I will get back when I get more logs. Thanks for your time.

[2020-04-14 23:25] SchulzDL opened #132 "Error: An item with the same key has already been added."
I am trying to trigger a second build definition that is in the same project and even saved in the same folder.  I am calling the second build definition by the id and it seems to understand that it is a build id and will treat it as such.  I am passing parameters and it seems to pick those up but then in the log I see the following errors.

Error message:  Error:  An item with the same key has al

[2020-04-15 15:28] huserben commented on #132
Hi @SchulzDL

could you provide me the log of the task?

Which version of the task are you using?

Specifying parameters is the most advanced thing so it's likely there might be an issue with the format that the parameters are passed.

[2020-04-16 00:34] SchulzDL commented on #132
[logs_81178.zip](https://github.com/huserben/TfsExtensions/files/4484294/logs_81178.zip)

[FirstBuild.zip](https://github.com/huserben/TfsExtensions/files/4484304/FirstBuild.zip)

Hi,
I have attached the logs and the json definition of the first build that calls the second one.  This is using version 3.  I also noticed that if I run the same set of two builds on Azure DevOps Services (In the cloud

[2020-04-18 19:15] chadlsmith commented on #132
My team is currently experiencing a similar issue when triggering a build between collections.

[2020-04-19 07:19] huserben commented on #132
@SchulzDL

Thansk for the logs and the additional info.
As I don't have a DevOps Server to test it could be that something is not compatible, however my understanding is that it should work.

One thing to make sure is that the variables you're setting on are specified as "settable at queue time" in the target build, maybe this is for some reason creating an issue.
Another potential issue when look

[2020-04-20 12:15] chadlsmith commented on #132
@huserben Thanks for the quick update. I was able to resolve my issue I was using different case (Env vs ENV) for some of my variables. Once i made those match the builds are working without issue.

Just for reference in TFS2017 it was case insensitive but when we upgraded our server to Azure DevOps Server 2019 it seems to be case sensitive.

Again thanks for all of your help.

[2020-04-20 12:24] huserben commented on #132
@chadlsmith
Nice to hear it works now.
Yes it's possible they made some changes, apparently the server is just refusing the request now (apparently starting from DevOps Server 2019 onwards).

I will leave the issue open until @SchulzDL has verified whether his problem was solved as well and then I'm also planning on updating the documentation with the problem. Due to time constraints I currently d

[2020-04-20 19:23] SchulzDL commented on #132
@huserben Thanks that seems to have be the answer.  I changed all the variables and parameters to lower case so there was no question and it works.  It is weird that the mixed case seems to work in Azure DevOps Service this is just a change in Azure DevOps Server.  That is what really threw me because it was working in the cloud and not on prem.  Thanks again.

[2020-04-20 20:00] s-h-r-e-y opened #133 "Unable to trigger a Gated build by passing Build.Reason parameter"
We have a requirement to trigger a Gated chain build with a shelveset (which it should attempt to check-in).
The shelveset gets passed correctly through the Build.SourceTfvcShelveset variable. But it doesn't check-in the shelveset. We have tried passing the parameter Build.Reason as CheckInShelveset, but it always come as Manual in the child build.

Any ideas/suggestions?

[2020-04-22 18:36] huserben commented on #133
Hi @s-h-r-e-y

As far as I understand Gated-CheckIns can only be triggered by the system itself and not manually.
If you want to set off some "triggered builds" you would need to add a gated check in build that is then triggering other builds and awaiting for them to be finished.
However then you will be blocking one build agent for the time while you wait...

Is that what you would like to achiev

[2020-04-22 19:04] s-h-r-e-y commented on #133
Hi @huserben,

Thanks for taking time to reply.
We are able to achieve the same functionality using our own PowerShell script (attempt a Gated check-in, (manually) through a script)
Some things which are not very clear to me is which parameters does TFS allow to override. Because even though Build.SourceTfvcShelveset is a predefined variable, i can use Trigger Build task to pass this value and the

[2020-04-24 09:26] henrikstromberg opened #134 "How to access build parameters in other build jobs"
I have a Trigger buildtask in one project with the build paramerter    buildParameters: "ServiceName: sample-service"

How do I access in in my other build pipeline as a parameter to a powershell script or directly in the poweshell script?

this is not documented https://github.com/huserben/TfsExtensions/blob/master/BuildTasks/overview.md#build-parameters

I also tried to use this in the other bui

[2020-04-24 10:39] huserben commented on #133
Hi

oh I was not aware that this is possible. Sorry for making wrong assumptions.
Normally what can be overriden are parameters that are settable at the queue time by the user, so if you trigger a build manually you can select which source version it should take, that's why you can probably set it.

If you share the Powershell script with me I could have a look at it and see how we could make the

[2020-04-24 10:45] huserben commented on #134
Hi @henrikstromberg

When you pass a variable you will need to define this variable in the build that is triggered and specify it to be settable at queue time.
So that means if you have two builds:
- Build A
- Build B

Your _Build A_ is triggering _Build B_ with the mentioned configuration of _ServiceName: sample-service_.
In _Build B_ you then must have defined a variable called _ServiceName_ tha

[2020-04-27 21:30] s-h-r-e-y commented on #133
Hello @huserben,

This is the relevant TFS api call snippet:

$body = @{
        "definition" = @{ id = $buildId };
        "reason" = $BuildReason;
        "sourceBranch" = "$ShelvesetNameWithUser";
}
$queueBuildUri = $TFSInstanceURL + '/' + $ProjectCollection + '/' + $TeamProject + '/_apis/build/builds?api-version=2.0'
$buildresponse = Invoke-RestMethod -Method Post -UseDefaultCredentials -Conte

[2020-04-29 07:35] henrikstromberg commented on #134
Thanks for the help it solved my problem :-)

[2020-04-29 07:45] #134 closed

[2020-05-03 03:48] krispenner opened #136 "Enhancement: Provide full YAML example"
This is truly amazing, great work!

It would be great if you could expand on your current YAML example and include every possible input. For example, I had to dig into your source code to find the name of the `buildParameters` parameter for use in YAML.

[2020-05-03 03:52] krispenner opened #137 "Enhancement: Support YAML style buildParameters mapping"
It would be super awesome to support parameters like any other task/template would in YAML.

So instead of:
[code]

It would be:
[code]

[2020-05-03 04:08] krispenner opened #138 "Error: Could not queue the build"
I'm getting the following error:
"Could not queue the build because there were validation errors or warnings."
But no more detail than that. Is there any verbose logging I can turn on that might help show what the validation errors and warnings are?

Here is my YAML task:
[code]

Here is the task output:
[code]

Thank you!

[2020-05-03 07:50] huserben commented on #138
Hi @krispenner

This error seems to come from Azure DevOps itself -what you can try to do is to set the system.debug variable of the build to true and see whether we would get more information.

If that still doesn't work, you could try to comment out the build parameters to check whether it works then. If so there is probably something off with the format (I don't see anything right away, but it'

[2020-05-03 07:53] huserben commented on #137
Hi @krispenner

I agree that would be nicer.
However I wouldn't know how to do that, as I didn't find anything online after a quick search.

Also when this would be changed it has to be made sure that it's backward compatible, so all existing usages don't break.

So if you have any idea how to implement let me know, so I could have a look whether it's feasible.

[2020-05-03 08:00] huserben commented on #136
Hi @krispenner

Up to @rfennell PR last week I wasn't even considering yaml much, so there is not much documented yet.

However having an example with *every* possible input might be a bit too big, as you have lots of options. Also you have cases where some inputs can be skipped (e.g. definition of url to the server).

If you use the assistant in the yaml editor you should get all the names of the

[2020-05-03 08:10] rfennell commented on #136
Wanted to generate Yaml documention for all my extensions, so I wrote my [YAMLGenerator task](https://marketplace.visualstudio.com/items?itemName=richardfennellBM.BM-VSTS-YAMLGenerator) which builds the yaml docs from the manifest files you can use this in the extensions release pipeline.

I have a worked example of my release pipeline [here](https://github.com/rfennell/AzurePipelines/wiki/Outlini

[2020-05-03 08:12] huserben commented on #136
Hi @rfennell

that looks awesome, I'll try it out as soon as I can :-)

Many thanks for sharing this 👍

[2020-05-03 09:57] rfennell commented on #136
Forgot to point out, look in the yamlgenerators tests for a commented out test harness that allows it to be run outside a release pipeline, it is good for giving it a test locally

[2020-05-05 05:47] krispenner commented on #138
Thank you for the reply @huserben, I was able to narrow it down to the following culprit.

As you are aware the build being triggered has parameters which I was passing through correctly. However, the parameters both define a set list of valid values that may be selected (see example below), these are shown as a drop down when manually starting a build. One of those parameters had it's default val

[2020-05-05 06:40] krispenner commented on #138
Hi @huserben, thank you for your reply. If you see my earlier comment please disregard, it was incorrect and so I have deleted it to avoid confusion.

The issue appears to be that only Variables can be passed and not Runtime Parameters. Can you confirm that statement? The documentation is a bit misleading in that case since you use the words variables and parameters interchangeably and they are tw

[2020-05-05 06:47] krispenner commented on #137
Oh I have no idea, I'm not sure how the YAML parser injects it's values into your task. I've not built any custom tasks myself.

[2020-05-05 08:02] krispenner commented on #138
FYI, I was able to get the trigger passed variables to work and if not specified due to manual start then fallback to the runtime parameters. Still curious if runtime parameters should be supported and I'm missing something?

Triggering build:
[code]

Triggered build
[code]

[2020-05-08 14:05] huserben commented on #137
Ok.
I will leave it then as it's now, as I did not figure out another way of doing it.

However as you pointed out in #136 I will try to provide a better yaml documentation

[2020-05-08 14:05] #137 closed

[2020-05-08 14:14] huserben commented on #138
Hi @krispenner

sorry for the late reply.

Nice that you figured it out, thanks for putting the effort into investigating the problem.
I did not consider runtime parameters thus far, so there is no functionality implemented for them.

As you mentioned they are rather new and before there were "only" the variables.
Sorry if it wasn't clear enough from the docs - I might add a statement for clarific

[2020-05-08 18:41] krispenner commented on #138
@huserben that all sounds great! Yes I have it working perfectly now. If I ever see you update this to support runtime parameters then I will look to update my side as well and remove the extra bit I added to work around this. Thank you so much for all your help and amazing task! I'll close this task as the error I had was resolved.

Also a bit of background on parameters, I believe they were adde

[2020-05-08 18:41] #138 closed

[2020-05-16 21:40] cveld commented on #9
@huserben have you taken a look at https://github.com/maikvandergaag/msft-extensions/blob/master/azuredevops/triggerpipeline/ ?

It implements means to queue a release. Unfortunately it does not include the wait-for-pipeline.

Additional feature is the custom service provider that is included. Maybe something you could also adopt. The picklist discovery (task data sources) for selecting a project

[2020-05-23 07:20] huserben commented on #9
HI @cveld

Thanks for letting me know about this.

The truth however is that currently I'm not having too much time to work on any new featurers, so I would not expect that anything happens in that direction any time soon.

Sorry to dissapoint - however if I will find time I'll definetly check the other task out :-)

[2020-06-01 16:15] weng271190436 opened #140 "TriggerBuild build parameter with both comma and colon in the value"
I was looking at this issue:
https://github.com/huserben/TfsExtensions/issues/54#issuecomment-368578707

It seems that build parameter like this doesn't work:
VariableKey: url1=https:\\example.com\abc,url2=https:\\example.com\efg,foo=bar

The original issue was concluded because a scenario like the above was thought to be very uncommon but I am running into a scenario like this right now.

[2020-06-01 22:02] weng271190436 commented on #140
I didn't read carefully. I got it working using a json to specify the build parameter and it works.

[code]

[2020-06-01 22:02] #140 closed

[2020-06-03 09:55] freyrfinnboga opened #141 "System.AccessToken certificate has expired"
Using Azure Devops Server 2019 Update 1 (OnPrem)
Using following Authentication Method: OAuth Token $(System.AccessToken)
Trigger Build task has been working fine past 4 months suddenly (last week) it stopped working with error: certificate has expired

Version of Task being used is
Task         : Trigger Build
Description  : This tasks allows to trigger a new Build (add it to the queue) as part o

[2020-06-04 10:48] freyrfinnboga commented on #141
Issue was fixed by disable-ing the Intended Purposes from Root certificate AddTrust External CA Root which expired 30.5.2020 for some reason the task was using the older chain even though the new root certificate with same purpose was already on the server

[2020-06-10 16:12] pedrolamas opened #142 "Build parameters are being set as variables"
I have a pipeline where I'm using [template parameters](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops#parameters), like on this example:

[code]

If I manually trigger the above pipeline, I will get an option to specify the Environment parameter:

![image](https://user-images.githubusercontent.com/85504/84291305-d0f00600-ab3c-11ea-9aba-c9d757405813.png

[2020-06-11 06:52] huserben commented on #141
Hi @freyrfinnboga

sorry for the late answer, but good that it cleared itself up.

If you have other problems or questions please feel free to open up another Issue.

[2020-06-11 06:52] #141 closed

[2020-06-11 06:55] huserben commented on #133
Hi @s-h-r-e-y

I played a bit around with it and tried to make the task trigger a gated build, but sadly I failed to achieve it.

I currently have not too much time on my hands to do more investigation, shall I just leave the issue open until eventually I might can do more investigation or shall we close it with a "Not supported"?

[2020-06-11 06:57] huserben commented on #129
Hi @1Siger1 @Iridias

as it's been a few months since the last message, did this ever happen again?

[2020-06-11 06:58] huserben commented on #131
Closed due to inactivity

[2020-06-11 06:58] #131 closed

[2020-06-11 07:03] huserben commented on #142
Hi @PedroLamas

thanks for raising this issue.
If I understand correctly this is the same issue as #138 where also a workaround was provided.

So what is supported by the task are "Variables" that are settable at queue time (interally called buildparameters) but not "Runtime Parameters".

If it is the same problem as issue 138 then you would need to go for a workaround, as I currently have not pla

[2020-06-11 07:12] PedroLamas commented on #142
Yes, reading through the other issue it does seem to be the same thing.

I will apply a workaround for this but maybe this is something that should be added to the docs as I suspect others will be reporting the same?

Also, would you be interested if I take a look and try to add this in and submit a PR for it?

[2020-06-11 12:23] huserben commented on #142
Yes it should definelty go to the docs - I have a few things for documentation pending already:
- #136
- #132

Ideally I find time for those things and this problem to be documented properly in the next days.

Regarding the extended functionality, first of all thanks for the offer, very appreciated. I guess what could be done for sure is:
- trying to figure out how to use _azure-devops-node-api_(h

[2020-06-12 01:55] s-h-r-e-y commented on #133
Hi @huserben,

No worries at all. I'll leave it up to you. You can mark it unsupported or future enhancement or closed.

[2020-06-12 07:28] Iridias commented on #129
To be honest, I replaced it with a shell-script, that uses azure-cli (its available by default in the bash-build-task). And to make sure, that those calls won't hang as well, I prepended them with "timeout": https://www.gnu.org/software/coreutils/timeout
Like so:
[code]
Of course with more checks, wait-loop and so on.
(And of course you have to login in the script first via `az login -u ...` - you

[2020-06-12 09:13] huserben commented on #133
Ok, as I don't think support will be added in future i'll close it. Thanks for raising the issue.

[2020-06-12 09:13] #133 closed

[2020-06-12 09:13] huserben commented on #129
Ok, thanks for sharing your solution here.

I think with the Azure CLI a lot of things got quite easy to automate without the task :)

I'll close the issue then for the time being.

[2020-06-12 09:13] #129 closed

[2020-06-16 17:18] kaushikmaji opened #143 "JSON Build Parameter Issue"
Hello,

I am using below build parameter:
buildParameters: 'TriggeringProjectName:$(System.TeamProject),serviceprincipals: {"serviceprincipals": [{"name":"adad","endate":"2021-06-16","resourcegroup":"XXXXX"},{"name":"asdad","enddate":"2021-06-16","resourcegroup":"XXXX"}]}'

The pipeline fails as below:
Identified value as Json Object - will use as is
Found parameter serviceprincipals with value: {

[2020-06-18 16:01] huserben commented on #143
Hi @kaushikmaji

how are the parameters on the target build defined? Are you sure the names are spelled correctly?

The error means essentially that something doesn't match in the target build as far as I can tell.

[2020-06-18 18:57] kaushikmaji commented on #143
Thanks Benj for your response. Actually, there was a issue with the target pipeline, it was not working. So I fixed it to resolve the issue and then the triggering worked as expected. Thus the Original issue is resolved.

However, I have another issue. The input JSON parameter value does not work at triggered pipeline, if it does not have spaces. e.g. below failed:

{serviceprincipals: {"servicepr

[2020-06-19 13:32] huserben commented on #143
Hi

if you send the json like this the task is actually not doing anything. If there is a problem with the spacing then it's most likely that the Azure DevOps REST API for some reason expects it to be like this. I couldn't tell the actual reason why that is the case though - it's the first time I see it :-)

But your problem is then solved when you use the latter version with the spaces?

[2020-06-19 17:26] kaushikmaji commented on #143
Yes Benj, the problem is resolved when I send the JSON with spaces. But thank you for your kind followup and answering me!!

[2020-06-19 17:34] #143 closed

[2020-06-30 09:03] oskarskog opened #144 "Cannot set version number as parameter value in old version"
Hi,

from the documentation it seems pretty clear that I should be able to use build parameters like this in the GUI:
`Version: $(Build.BuildNumber)`. However the pipeline fails complaining about the format of the parameter, as can be seen from the output.

The task's version might be a bit out of date and I don't have the possibility to update but if there's any way to get what I want to do to wo

[2020-06-30 12:05] oskarskog commented on #144
Ok, it seems the problem was between the chair and the keyboard as usual.
Since $(build.buildnumber) expands to 1.0.0-alpha.14, the first character being '1' caused it to being parsed as an int, adding surrounding single quotes fixed it.

[2020-06-30 12:05] #144 closed

[2020-07-04 21:05] icnocop opened #145 "Error: Access denied. Project Collection Build Service (DefaultCollection) needs Use permissions for pool MyPool to perform the action."
Hi.

We upgraded TFS 2015 to Azure DevOps Server 2019.

I uninstalled 3.0.11, installed [3.0.14](https://github.com/huserben/TfsExtensions/blob/master/BuildTasks/Releases/singleversion/benjhuser.tfs-extensions-build-tasks-3.0.14.vsix) (Single Version), and re-created the build step in my build definition.

However, the build definition fails with the following error:

[code]

The build step was wo

[2020-07-04 22:45] KMoraz commented on #145
Try to enable "Grant access permissions to all pipelines". If this works, your pipeline hasn't been authorized to access other resources.
See [Simplified resource authorization in YAML pipelines](https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/sprint-160-update#simplified-resource-authorization-in-yaml-pipelines)

Also, restarting the agent may help.

[2020-07-04 23:08] icnocop commented on #145
Thank you, @KMoraz.

I enabled "Grant access permissions to all pipelines" on the agent pool, and restarted the agent, but I get the same error.

I'm still using the classic editor for the pipeline.

I don't see any permission requests for resources as in the link you provided.

Any other ideas?

Thank you.

[2020-07-04 23:13] icnocop commented on #145
I finally figured it out!

I incorrectly used "[DefaultCollection]\Project Collection Build Service Accounts" instead of the correct "Project Collection Build Service (DefaultCollection)" user account.

Thank you.

[2020-07-04 23:13] #145 closed

[2020-07-16 20:16] johnphilipscs opened #149 "Shelvesets cause error with Get Sources in Triggered Build"
We are successfully using your Trigger build extension to improve our build structure and make reusable build modules.  Thank you for you extension!

However, we would like to us the builds that call the triggered builds for check-ins and if a shelveset is specified and the Get Sources of the triggered build is different from the parent, then the attempt to unshelve fails due to differences in dir

[2020-07-17 13:36] jaybihola opened #150 "Trigger Build Task Not Visible"
We are currently utilizing TFS 2015 (version 14.102.25423.0) and installed the extension. The installation of the extension appears to be successful.

When trying to add a build step, the trigger build task is not in the task list.

Is there any other configuration that is required or did I miss something?

[2020-07-20 06:18] huserben commented on #150
Hi @jaybihola

Did you install version 2.* or 3.*?
I think version 3.* was not compatible with such an old version of TFS, but 2.* might be.

*Edit*: Found another issue that might be related, can you check this out: #120 and see whether that helps you?

[2020-07-20 06:22] huserben commented on #149
Hi @johnphilipscs

From what is possible within the build system itself (leave out steps etc.) I cannot judge. Basically you can pass parameters with the task and if with those parameters you can skip a step it should be supported.

However I'm definetly no expert when it comes to TFVC so I fear I cannot be of much help, sorry.

[2020-07-20 09:14] mohak2006 commented on #142
I am facing same problem in my case. Is there any work going on regarding this?

[2020-07-23 16:57] greengumby opened #151 "Trigger Build pass source branch"
Hi,

Are you able to pass the source branch name through to the triggered build as a variable?

Maybe it does not need to be the branch. I guess it could be build Id

Essentially I have two build pipelines that create artifacts and somehow I need to tell a third pipeline the trigger which builds to pull the artifacts from to use in the DownloadPipelineArtifacts artifacts

Pipeline 1 -> Trigger Pip

[2020-07-25 06:15] huserben commented on #142
Hi @mohak2006

sorry to disappoint, but currently I'm too busy on other things so I cannot do much more than give basic support here via the issues. But no further development is planned on my side at the moment.

[2020-07-25 06:18] huserben commented on #151
HI @greengumby

yes that should be possible, you have to define the variable (e.g. _Build1ID_ in Pipeline2) and make it settable at queue time.
Then you can pass this variable in Pipeline 1 via the Build Parameters option:
_Build1ID: $(Build.BuildId)_

that should do the trick.
Of course the same goes for the trigger from pipeline 2 to pipeline 3 - you have to create 2 variables and they have to b

[2020-07-26 15:00] greengumby commented on #151
Worked a treat!

Thanks

[2020-07-26 17:10] huserben commented on #151
Awesome!

Please don't hesitate to open up another issue if you are facing a problem, have a feature request or any kind of question.

[2020-07-26 17:10] #151 closed

[2020-08-05 07:37] jason-ha commented on #142
Parameters to pipelines like template parameters were added in the last several months. These are documented as [Runtime Parameters](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/runtime-parameters?view=azure-devops&tabs=script), which is a bit of an unfortunate name as one key advantage is expansion time resolution. Variables cannot be guaranteed resolvable until runtime and don

[2020-09-03 14:05] alvipeo opened #152 "Could not find any Team Project with name <MyProject>"
I set this task for my project but I keep getting this error:

[code]

I did provide the project name as it shows in my project's properties. Why can't it find it?

[2020-09-04 14:54] huserben commented on #152
Hi @alvipeo

do I see it correctly that you are using a Build on one Organization to trigger another one that is on a different Organization?

The team project name has to match exactly, so if there would be some space or so this could cause it.
Another source of problems could be the access rights - when using OAuth you will have the build service access rights, meaning it might not be "allowed"

[2020-09-04 18:54] alvipeo commented on #152
Yes, the org is the same. The team project is copy pasted, so it does match exactly.

I tried many things and at the end I just added a second pipeline and used Build Completions Trigger. Works like a charm!

[2020-10-15 03:34] gexiangge opened #153 "When I trigger another pipeline, the given parameter does not override the default parameter value"
I use below yaml to trigger another pipeline in the current pipeline. I explicitly pass the parameter and give the value "333", but when I check log of the triggered pipeline, the parameter still use the default value "222".

How can I use the value passed in to override the default value of that parameter?
![160610-param](https://user-images.githubusercontent.com/38790298/96074064-52381a80-0eda-1

[2020-10-15 06:37] #152 closed

[2020-10-15 06:37] huserben commented on #150
Closed due to inactivity

[2020-10-15 06:37] #150 closed

[2020-10-15 06:41] huserben commented on #153
Hi @gexiangge

How is the parameter defined in the triggered build? It has to be a "variable" that can be overridden and not a runtime parameter:
![image](https://user-images.githubusercontent.com/5486874/96086097-06797700-0ec2-11eb-9664-2a3e23581f9f.png)

Runtime Parameters (https://docs.microsoft.com/en-us/azure/devops/pipelines/process/runtime-parameters?view=azure-devops&tabs=script) are not s

[2020-10-28 13:37] georgelviv opened #154 "Cannot read property 'name' of undefined In Wait For Build(s) to finish"
There is an error that appears in `Wait For Build(s) to finish (version 2.0.10)` task
`##[error]Cannot read property 'name' of undefined`

As in ` Trigger Build (version 3.1.7)` we receive the next output

[code]

As a result, we have a variable `TriggeredBuildIdsEnvironmentVariableName` with a value `'$(TriggeredBuildIds)'` (this is also a question why this variable has such value), and it tries

[2020-10-30 18:59] huserben commented on #154
Hi @georgelviv

Thanks for opening this issue.

So just for me to see whether I'm following correctly:
- TriggerBuild writes NaN, 2610321
- NaN will then cause the Wait Task to fail
- It's writing NaN because the existing value of the variable is the string "$(TriggeredBuildIds)"

If that's the case, I'm wondering why the variable has that existing value? Is this set somehow by a previous task? Do

[2020-11-03 10:19] wbin666 commented on #153
Hi @huserben  is there a plan to support Runtime Parameters recently?  It's very useful to be used to expand the templates conditionally.

[2020-11-04 00:28] wbin666 commented on #153
Hi @huserben,

I see the related issue in microsoft backlog and you also commented on the issue.
https://github.com/microsoft/azure-devops-node-api/issues/392

And I see the update in API 6.1 preview now.
https://docs.microsoft.com/en-us/rest/api/azure/devops/build/builds/queue?view=azure-devops-rest-6.1

[2020-11-04 06:44] huserben commented on #153
Hi @wbin666

First of all thank you for your offer and for making me aware that the runtime parameters are in the API preview at the moment.

As you noticed the task is currently using the devops-node-api, so as long as they don't add the feature to include the runtime parameters I think it's not really possible, unless the task would be rewritten and we would not depend on that api anymore (which

[2020-11-04 16:13] wbin666 commented on #153
Hi @huserben,

Thanks for your kindly explanation. I get the point now.  We have to wait for "devops-node-api" to support the latest Azure DevOps REST API (API Version: 6.1-preview).

BTW, I tried the rest api today and found both Build endpoint (6.1-preview.6)  and Pipeline endpoint (6.1-preview.1) work well. and here are the workable samples.

Using Build Endpoint:
$url = "https://dev.azure.com/

[2020-11-11 10:10] georgelviv commented on #154
Hi @huserben
Thanks for your reply

Actually, it happens very rarely, but still happens,
as the previous task, we have next one,
**Task         : Trigger Build**

I'll try to echo this env variable, and I'll reply u

[2020-11-12 17:13] FelixS90 opened #155 "Nested branch not working"
### Minimal working example
Pipeline_A is triggered from Pipeline_B. Both are in the same project and both have the respective branch. The example works if the branch is of the form `refs/heads/a`, but not if `refs/heads/b/c`, i.e. "nested".
[code]
### Actual
[code]
### Expected
Working.

It seems that the branch is correctly identified since it prints:
`Using same branch as source version: refs/h

[2020-11-14 08:31] huserben commented on #153
Hi @wbin666

First of all sorry for the late answer, I somehow overlooked the email.

Good to know that the API seems to work correctly, I try to check out the node-api for when they support it and then try to include it in the task.

Thanks also for sharing the samples, so if others really need it they could use it as a template for a custom solution for the time being 👍

[2020-11-14 08:32] huserben commented on #154
Hi @georgelviv

Yeah that would be good. Sadly those things that happen very infrequently are also the hardest to fix until we know what's causing them.
Of course if it's really getting too big of a problem for you we could do the workaround you suggested, but ideally I'd like to get to the bottom of this :-)

Thanks for letting me know

[2020-11-14 08:34] huserben commented on #155
Hi @FelixS90

Thanks for reporting this.
I will need to check this out and come back to you.
You are right that we go via the _TFSRestService_, however I think I've seen the message before and that's something that the REST Endpoint from Azure DevOps returns...

I will investigate and come back to you once I know more.

[2020-11-16 08:57] FelixS90 commented on #155
Thanks a lot. Looking forward to 👍

[2020-11-16 19:13] huserben commented on #155
I tried to reproduce the problem, but for me it seems to work just fine.

Are you by chance using an on premise Azure DevOps Server/TFS?

[2020-11-18 02:37] BruceHaley opened #156 "Trigger Build task running against a fork throws ##[error]Cannot read property 'id' of null"
Task version 3.1.7. Pipeline was triggered by a PR, and is running against a fork of the repo. Build being triggered is in the same project, and is being referenced by ID. If I change the reference to build name, it throws ##[error]Did not find any build definition with this name: BotBuilder-Samples-DotNet-CI-PR. Authentication is OAuth token.

If the pipeline is running against a branch which is

[2020-11-18 19:25] BruceHaley commented on #156
I solved this problem by switching authentication from OAuth to using a Personal Access Token.

[2020-11-18 19:25] #156 closed

[2020-11-25 14:57] christopherdalton opened #157 "Error message: Error: TF400813: The user '' is not authorized to access this resource."
I appreciate that this may be an Azure DevOps issue not an issue with this task, but on the off chance the issue is already known I'm raisin this here too. I have raised this on MS Developer Forum but don't hold my breathe for a useful response.

Currently converting from Classic to YAML pipelines, using the 'Trigger Build' task in classic is fine, however when running in YAML pipeline the followi

[2020-11-25 15:04] christopherdalton commented on #157
After looking at some of the other issues raised, it's clear that `password: $(System.AccessToken)` is required. Documentation on using this field would be great!

[2020-11-25 15:04] #157 closed

[2020-11-25 19:04] huserben commented on #157
Hi @christopherdalton

Thanks for reporting this.

Yes it's on the todo list since quite a long time to properly document the yaml syntax, so far I simply never took the time to sit down and do it.

Sorry for the troubles but I'm glad you found the solution to the problem.

[2020-11-25 19:07] huserben commented on #149
Closed due to inactivity

[2020-11-25 19:07] #149 closed

[2020-11-25 23:30] KMoraz commented on #157
@huserben PR #139 addresses this issue. However [ADO marketplace](https://marketplace.visualstudio.com/items?itemName=benjhuser.tfs-extensions-build-tasks) refers to previous version (3.0.14, 3/21/2020).

[2020-12-24 16:29] georgelviv commented on #154
Is this possible if triggered pipeline is finished before waiting step, and
https://github.com/huserben/TfsExtensions/blob/2063cca4ec96e2b7d5fb028451ad2a6b9010006e/BuildTasks/triggerbuildtask/triggerbuildtaskV3/taskrunner.ts#L88

and this function returns null?

[2020-12-24 16:59] huserben commented on #154
Hi @georgelviv

No that shouldn't happen, the build with the given id will return some information, independently of whether it has finished or not.

[2021-02-01 11:45] nguyenlamlll commented on #157
My "Trigger Build Task" version is 3.0.14. However, I still experience this issue.

When I use this YAML:
[code]
The task fails and it throws an error `Error message: Error: TF400813: The user '' is not authorized to access this resource.
`.

I have to create the password variable. Then, the error goes away.
[code]

[2021-02-01 16:18] christopherdalton commented on #157
When using YAML you have to map `System.AccessToken` into the task.

[code]

[2021-02-02 05:55] nguyenlamlll commented on #157
Ah, okay. I misread KMoraz's comment. So v3.0.14 still needs the manual mapping.

[2021-02-05 22:12] geetikasharma26 opened #161 "error calling another pipeline from a classic pipeline"
Hey,

We are getting a generic error while calling a yaml pipeline( using this task) from a classic pipeline. Do we need extra setting for this task?

Following are the logs:
2021-02-05T22:03:09.6903866Z ##[debug]Evaluating condition for step: 'OCS Portal Basic E2E Tests'
2021-02-05T22:03:09.6905487Z ##[debug]Evaluating: succeeded()
2021-02-05T22:03:09.6906514Z ##[debug]Evaluating succeeded:
2021-

[2021-02-06 08:23] huserben commented on #161
Hi @geetikasharma26

I _think_ it shouldn't matter whether you call a yaml or classic pipeline (but i've never tried).
The error _Could not queue the build because there were validation errors or warnings_ is coming from the Azure DevOps Api, so nothing directly from the task seems to fail - the question is why.

I see you're running a release definition (_Context is Release - using Release Enviro

[2021-02-09 15:18] tomnie98 opened #162 "[TFS2015] Trigger build don't use branch passed"
Hello,
Thanks for the tool.

I'm having trouble, the trigger build still use default branch.

TFS : Version 14.114.27412.0
Agent : 1.95.4 (AgentTFS2015-U41)
Version Trigger : 2.9.2

TFS build interface:
![2021-02-10_08h58_24](https://user-images.githubusercontent.com/13887429/107481473-8668d280-6b7e-11eb-9ee8-605c2a1269be.png)

TFS logs begining :
2021-02-09T01:08:49.7926905Z Checking if artifacts

[2021-02-11 08:02] bergmeister commented on #153
The node API has now been updated: https://github.com/microsoft/azure-devops-node-api/pull/426

[2021-02-12 21:03] CraigMacomber opened #163 "Unnecessary wait after last failed retry"
When retrying 5 times, there is a wait between each retry (good), however there is also a wait after the last retry which is just wasted time. Since each retry doubles the wait, this wasted retry is actually longer than all the others combined.

You can see an example of this in the output of other issues file here, for example in:
https://github.com/huserben/TfsExtensions/issues/161

The particul

[2021-02-13 07:19] huserben commented on #162
Hi @tomnie98

sorry for the late response.

Do I assume correctly that the build you are triggering is in the same team project and is using the same repository?

From the logs it looks like everything is fine, the branch name is passed but somehow it seems TFS isn't picking it up.

*Edit*: You are using TFVC right? Where a branch is actually a dedicated folder and not like a branch in git? I thin

[2021-02-13 07:24] huserben commented on #153
Thanks @bergmeister for the hint :-)

I can look into defining the runtime parameters in a similar fashion like the build parameters work now. I'll keep you posted.

[2021-02-13 07:24] huserben commented on #163
Hi @CraigMacomber

Thanks for bringing this up. Seems like a low hanging fruit to reduce wasted time - i'll check it out and let you know once there's a fix available.

[2021-02-21 11:27] huserben commented on #153
Hi @bergmeister @wbin666 @gexiangge

I just wanted to give you a quick update.
I've just managed to run the task and queue a build and override a template paramter:

![image](https://user-images.githubusercontent.com/5486874/108623447-7040f900-743f-11eb-9c14-c654d27c844c.png)
![image](https://user-images.githubusercontent.com/5486874/108623454-7cc55180-743f-11eb-81d6-15e62d94325b.png)
![image](htt

[2021-02-24 08:38] gexiangge commented on #153
@huserben  when will you officially release this feature? I will give it a try?
If I want to override both variable and parameter, can I just write them together in "buildParameters" section? like 'var1: value, param1: value'

[2021-02-24 10:12] tomnie98 commented on #162
Hi @huserben
No problem, I'm just come back from holidays.

Yes, it's same team project and ... TFVC :(

In conclusion, it's not possible to modify with TFVC ??

[2021-02-26 03:09] wbin666 commented on #153
Hi @huserben,

Glad to hear that the updated nodejs lib is ready.

My use case is to use both build variables and runtime parameters to trigger another pipeline with Personal Access Token, and wait for the triggered pipeline to finish with timeout setting (to make triggering pipeline failed if the triggered pipeline is cancelled, or failed, or timeout).  I believe only template parameter is a new

[2021-02-27 06:53] huserben commented on #162
For my understanding, your use case is that you have a TFVC Repo and there you have multiple branches (that are reflected by different files/folders on the file system right?).

So something like:
- TFVC Repo
  - MainBranch
    - SomeFile
    - SomeOtherFile
   - BranchX
     - SomeFile
     - FileThatOnlyExistsInBranch

If so, then it's not really supported, as you have to point to different fold

[2021-02-27 06:57] huserben commented on #153
@gexiangge
I hope I can finish up this weekend, as the week was quite busy I didn't get to do as much as I would have liked.
No there will be two distinct fields, as within the task I need to know whether it's a template parameter or a build variable. Technically I think there could be even a variable and a param with the same name...

@wbin666 Ok thanks for the info, I also fully expect that all

[2021-02-28 17:22] huserben commented on #153
Ok quick update from my side, I managed to run some tests today, and in general it looks good, but I saw a problem I have to investigate a bit more, so I would not feel confident releasing the new version already today.

Next work-days are a bit packed, so I'll keep you posted on the progress.

[2021-03-01 07:46] tomnie98 commented on #162
Hello,
Yes, we have one folder by branches.

I can't use variable in repo tab in TFS and download all branches to use only one it's actually not possible (too many branches and spaces on disk :( )

I'm looking for migrate to git if possible, but it seems complicated.

Thanks for help.

[2021-03-01 07:46] #162 closed

[2021-03-01 10:18] schmolfi commented on #153
@huserben
First of all, thank you very much for the great work.

Have you already deployed the new version?
We currently need the new function for our project as soon as possible.

I really appreciate your work ... Thanks a lot

[2021-03-01 16:56] huserben commented on #153
@schmolfi
No the new version ain't in yet. I hope to get it done till Wednesday though.

[2021-03-02 08:47] icnocop opened #164 "Some "More information" pop-up windows for the Trigger Build task don't have the correct markdown format for hyperlinks"
Hi.

I noticed some "More information" pop-up windows for the Trigger Build task don't have the correct markdown format for hyperlinks.

For example, https://github.com/huserben/TfsExtensions/blob/master/BuildTasks/triggerbuildtask/triggerbuildtaskV3/task.json#L85

 `Please refer to the (documentation)[https://github.com/huserben/TfsExtensions/blob/master/BuildTasks/overview.md#basic-configuration

[2021-03-02 19:07] #132 closed

[2021-03-02 19:08] #155 closed

[2021-03-02 19:34] huserben commented on #164
Hi @icnocop

thanks for the hint, it's fixed now :-)

[2021-03-02 19:34] #164 closed

[2021-03-02 19:36] huserben commented on #163
Hi @CraigMacomber

I just updated the tasks and now we shouldn't have that problem anymore.

If you'd like to verify please go ahead and please let me know whether it works as expected. If not (as I guess it's hard to reproduce anyway...) you can also directly close the issue.

Thanks for reporting this and helping improve the tasks, it's appreciated.
Please don't hesitate to add more issues in ca

[2021-03-02 19:36] #136 closed

[2021-03-02 19:38] huserben commented on #153
@Everyone, the new version of the task is now availabe with support for template parameters.

Please let me know whether this solves your problems and whether it works as expected or not.

Thanks everyone for contributing, your help is appreciated!

[2021-03-02 21:14] tophallen opened #166 "No valid OAuth token provided. Please check that you have the OAuth Token Access allowed for your builds."
We started getting this error for every build trigger around the time the most recent (3.1.0) update was pushed out.

We have OAuth token enabled for the agent/job, and we left the access token blank so that it would try to get `System.AccessToken`. It's a little tough to tell from the PRs - but it does seem like the most recent change changes how that token is being retrieved.

Best I can see is

[2021-03-02 21:17] mwisebaker commented on #166
I'm getting the same issue under the same conditions. Was already using OAuth token and worked fine under 2.* version of the task. Just started getting this error under 3.*. Changed back to 2 and everything worked as expected.

[2021-03-02 21:21] huserben commented on #166
Hmm seems like this change might have broken this, somehow slipped through my testing. I'll try to revert this and push a fix asap.

[2021-03-02 21:23] tophallen commented on #166
Awesome, thanks! Honestly not sure why that change doesn't work - I feel like it should based on the MS documentation...

[2021-03-02 21:23] mwisebaker commented on #166
Thanks!

I deleted my comment because it turns out that it broke under 2.* too with a slightly different error: Authentication with TFS Server failed. Please check your settings.

Have it working with a PAT now but I’ll keep my eye open.

Michael D. Wisebaker
Senior Software Engineer
REC Technology
Mailcode: KS-01-11-0501
Phone: 913/317-4566

"If it's not unit tested, it's broken."
Pragmatic Progr

[2021-03-02 21:23] huserben commented on #166
@tophallen

As a workaround, you can pass $(System.AccessToken) as a password when selecting OAuth.

[2021-03-02 21:24] tophallen commented on #166
Yeah, that's what we are doing for now. Thanks.

[2021-03-02 22:16] huserben commented on #166
#167  should have fixed it, it seems the new verison of the task lib imported the values now as undefined instead of null/"".
Thus it didn't try to fetch the token in the first place.

A new version is published now, please let me know whether it helped. If not I fear you'll have to use the workaround till tomorrow as it's getting late here.

Sorry for the troubles I've created.

[2021-03-02 22:20] huserben commented on #166
I updated my test builds now to not specify anything, updated the task to the last published versions and it works.

![image](https://user-images.githubusercontent.com/5486874/109722896-a273f880-7bad-11eb-9bec-a726d6280450.png)

If it works for you as well @tophallen feel free to close the issue.

Thanks for making me aware so quickly, I think due to that you saved a lot of other people some troub

[2021-03-02 22:24] tophallen commented on #166
I'll test it now and close if it is fixed - at least there is a work around. Thanks for working so quickly on this @huserben.

[2021-03-02 22:25] mwisebaker commented on #166
That seems to have fixed it for my build.

[cid:image001.png@01D70F80.9ACA51E0]

Michael D. Wisebaker
Senior Software Engineer
REC Technology
Mailcode: KS-01-11-0501
Phone: 913/317-4566

"If it's not unit tested, it's broken."
Pragmatic Programming Tips<https://pragprog.com/tips/>
[cid:image004.png@01D70F80.9DED63D0]

From: Benj Huser <notifications@github.com>
Sent: Tuesday, March 02, 2021 4:21 P

[2021-03-02 22:35] tophallen commented on #166
Confirmed this has been fixed. Thanks for the quick work! Closing this issue.

[2021-03-02 22:35] #166 closed

[2021-03-03 09:45] schmolfi commented on #153
AWESOME!!!!
It's working, thank you so much!!

[2021-03-04 02:05] CraigMacomber commented on #163
I don't actually know how to easily reproduce this in our setup (I just saw it in output when things broke once). Feel free to close the issue if you want, and if I ever see it again (and we are on a version that should be fixed) I'll reopen it.

[2021-03-04 06:31] #163 closed

[2021-03-05 00:14] kevinshum commented on #161
I ran into a similar issue, but realized that the yaml definition (for the outgoing pipeline I was trying to trigger) didn't exist in the branch that I was initially queueing from. So by the time it got to the second pipeline, it couldn't find the yaml file to run. Not sure if that's the same issue for your case.

[2021-03-09 16:35] #153 closed

[2021-03-09 16:37] #142 closed

[2021-03-09 16:37] #113 closed

[2021-03-26 16:52] JaredLane77 opened #168 "Trouble with setting "Defines Branch that shall be used" to a release variable"
This is a fantastic extension, thank you!
This is working great when I set "Defines Branch that shall be used" to a static branch name, but I'd like to use a variable.
I am creating a Git branch in a previous step using the name of the release: $(RELEASE_RELEASENAME).
This does not seem to be rendering when the task is processed, as the build fails trying to specify that string as the branch name:

[2021-03-26 18:10] JaredLane77 commented on #168
Sorry, hope no one wasted their time on this, I had the wrong variable name, should be:

Release.ReleaseName

Thanks!

[2021-03-26 18:10] #168 closed

[2021-03-26 18:31] huserben commented on #168
Hi @JaredLane77

no worries, glad you could figure out so quickly.

In case you have other questions, problems or proposals for improvement please don't hesitate to open up another issue.

[2021-07-02 10:18] Hoyzer90 opened #182 "Trouble using Build Parameters in triggered pipeline"
Hi I'm trying to use the BuildParameters to pass a test suite name from PipelineA to B,
PipelineA trigger:
[code]

This is part of the second pipeline where I'm trying to use the parameter
[code]

I can use $(TestSuite) to get the property thats passed between pipelines but then the problem is if I want to run the pipelineB on its own the testSuite input is set to "$(TestSuite)" instead of empty w

[2021-07-02 11:35] Hoyzer90 commented on #182
I got this working by adding a variable to PipelineB with an empty value and enabling "Let users override this value when running this pipeline"
![image](https://user-images.githubusercontent.com/57666565/124268595-a1d67900-db31-11eb-8e15-d1048f535dca.png)

Now when I run PipelineB on its own it runs the full projects tests, and PipelineA runs just the specified Test Suite.

Thanks for this extens

[2021-07-02 11:35] #182 closed

[2021-07-02 15:03] huserben commented on #182
Hi @Hoyzer90

glad you could find a way to solve the issue.
Thanks for reporting it anyway, now it might help others that come here looking for a solution for the same issue.

In case you find some other problems or have questions or feature request, please don't hesitate to open up another issue.

[2021-07-13 15:39] harrisonsp opened #183 "Where are the logs?"
I've been searching around for where the logs files are written on the Build Agent in response to the message with system debugging enabled. Where are the logs on the Build Agent?

[code]

[2021-07-17 06:03] huserben commented on #183
Hi @harrisonsp

What you've posted are in fact the logs, there is nothing (more) written anywhere on the agent.
`Error: Could not queue the build because there were validation errors or warnings` is coming from the API from Azure DevOps, so nothing from the task directly, so it's hard to judge what is wrong.

Could you provide the complete logs, maybe something can be spotted in the config that ca

[2021-07-22 00:11] arjankohli opened #184 "Question: Build Status Polling on Agents in Scale Sets"
I'm using this task to trigger a pipeline which runs on a VM Scaleset where the agents seem to be automatically torn down before the task can poll a successful run and see the build triggered completed successfully. Even with a 1 second delay.

I am wondering if this task is implemented so that polling the status of a build can return back success even when the agent it ran on no longer exists. Or

[2021-07-23 07:27] huserben commented on #184
Hi @arjankohli

The polling actually does not depend on the agents, as the build status is stored on azure devops itself. So there should not be any dependency on this.

Could you share some logs of the problem you're getting?

[2021-07-26 21:21] harrisonsp commented on #183
Thanks for getting back to me and for clarifying that the output shown is the log with nothing more written on the agent. The issues coming from the API in Azure DevOps cleared up so we are in the clear now. Love the work you've been doing here!

[2021-07-26 21:21] #183 closed

[2021-08-03 11:37] bvrvarma10 opened #185 "Question: Can we bring back results from triggered pipeline to pipeline where we use Trigger Build task"
Is there a way to bring back results from triggered pipeline to the pipeline where we use Trigger Build task across different projects within the same organization?
Can we bring the results of the triggered pipeline to the pipeline where we use Trigger build task even when both those pipelines are running on different agents, different projects but on same organization? Please Clarify

[2021-08-03 14:22] huserben commented on #185
Hi @bvrvarma10

The agents which run the build do actually not matter at all. The pipeline information is stored on Azure DevOps and accessible via the REST API (which the tasks are using) - so where it's being run does not matter.

I'm not sure I fully understand what you mean by "bring back results". But if it's about getting the info on whether the pipeline failed or succeeded, this is possible

[2021-08-06 07:54] mortenmossige opened #186 "Question: How to pass options to build"
I have a CI build which I want to run as 'clean' every night. I am using  the 'Trigger Build' task to start the CI build and I try to pass the   Build.Repository.Clean=true to the build via the "Define additional parameters for the build, for example build configuration or platform." Is this possible or there a special format needed for doing this? I have previously done this by use of home-grown

[2021-08-06 14:07] huserben commented on #186
Hi @mortenmossige

How do you define the parameters exactly in the task? Are you using exactly "Build.Repository.Clean=true"?

The format expected is specified in the [description](https://github.com/huserben/TfsExtensions/blob/master/BuildTasks/overview.md#build-and-template-parameters) - you need to separate key and value by ":".

If that doesn't work, could you share the complete log of the tas

[2021-08-12 05:58] mortenmossige commented on #186
Hi @huserben
Thank you for feedback

I think I have the correct notation(?)

I am using the following:
`Build.Repository.Clean:true`

Please also see attached screenshot

If I run the release with debug I get:
.`
.
2021-08-12T05:54:35.6358416Z Using OAuth Access Token
2021-08-12T05:54:35.6359759Z Build shall be triggered for same user that triggered current build: XXXXXXXXXXXX
2021-08-12T05:54:35.

[2021-08-13 13:31] huserben commented on #186
Hi @mortenmossige

yes that looks correct. It's strange because the error is not coming from the task but from the Azure DevOps API as response to the request...

Maybe you can try the following:

### Pass the json object as parameter
You mentioned in your initial post that you tried it with powershell and there it worked. The task supports passing parameters as json, maybe that helps. For this tr

[2021-08-16 05:43] mortenmossige commented on #186
Hi @huserben
Thank you for quick response.

I did a new test with the options passed in as json:

![Screenshot 2021-08-16 073406](https://user-images.githubusercontent.com/8455172/129515722-cd89e805-9a55-41af-82ad-c2989be312b8.png)

I still get the same problem.

I launched the pipline with debug enabled, and this is what I get:
[code]

[2021-08-16 08:01] huserben commented on #186
Thanks for checking so quickly and providing the logs.

Too bad it didn't work, but I think it was worth a shot.

As the issue is coming from the API itself it's hard to guess what could be wrong. You said if you manually run the request with the paramater it works right? Would you be able to provide me the exact script/command you ran?

Ok I just noticed you're using still an old version of the t

[2021-08-16 11:24] mortenmossige commented on #186
Hi

I upgraded to version 3.2.2 and did a new test:
[code]

As you can see, I still get the same result.

If I run the task without any 'Additionally parameter' (i.e. leave the field blank), the task will successfully trigger the new build (but of course without doing a clean, only as CI)

Our old way of solving this was by use of a PowerShell script. However, after moving from an on premise TFS s

[2021-08-16 13:56] huserben commented on #186
Ok thanks for trying. One last thing that you could try now with the latest version is to go back to the original format and see if this works:

`Build.Repository.Clean: true`

I'll try to reproduce/investigate a bit more in the coming days if I find the time.

[2021-08-17 05:04] mortenmossige commented on #186
@huserben

That was a success :-)
After going back to `Build.Repository.Clean: true` I get the correct behavior.
Thank you very much for support.

Morten

[2021-08-17 07:40] huserben commented on #186
Oh nice. Sorry I missed that it was an older version of the task. There have been some changes in how the task handles parameters in the 3.* version (and apparently it's doing a better job now :-) ).

Thanks for creating an issue and help improve the task - while we did not change anything in the code this might help others in future that face the same or a similar problem to find help.

Please do

[2021-08-17 07:40] #186 closed

[2021-08-27 11:39] BewotecDaVinci opened #190 "Waiting for triggered builds from different team-projects results in ##[error]Cannot read property 'definition' of null"
Hi,

I really like the plugin but at the moment I am struggling to make it run for our needs.

Thats our setup: We start different builds from various teamprojects via the triggered build plugin and put all of them in the build queue. After that I would like to wait for each of those builds.

Unfortunately the wait-for-build-task tries to wait for **all** triggered builds on the **same** teamproje

[2021-08-30 08:51] BewotecDaVinci commented on #190
Hi,

thanks for the quick response. I gave the powershell solution a try and after some modifications it uses to work now.

Cache triggered build id

[code]

Restore triggered build id

[code]

Thanks for your help

[2021-08-30 10:09] huserben commented on #190
Ok cool to hear that it works. Sorry for not being able to provide this built-in, but as this is working for you I would suggest that we leave it at that for now.

In case there are more requests regarding this in the future I'll consider adding it "natively" in the task.

Thanks for reaching out and providing the code that worked for you, that way others can also profit from your experience if th

[2021-08-30 10:09] #190 closed

[2021-08-30 10:10] huserben commented on #185
Hi @bvrvarma10

Did you manage to solve your problem?

[2021-09-03 18:55] varunsgandhi opened #191 "##[error]TF400813: The user '' is not authorized to access this resource. Getting this error while using Trigger Build"
I was trying to trigger a build pipeline from the release pipeline in azure devops using Trigger build task but during the authentication it is giving the error i tried to use Auth token and set the agent to hosted agent and also gave the credentials during the release but that was not working also tried the Basic authentication but that too is giving the same error. what should i do ?

[2021-09-04 06:46] huserben commented on #191
Hi @varunsgandhi

could you post the logs of the build here so that I can have a more detailed look, maybe that reveals something.

Is the build you're trying to trigger in the same team project? If not, is it in the same organization? Are you running Azure DevOps server that is hosted on prem or the cloud version?

I don't really understand what you mean by that, could you elaborate?

[2021-09-07 11:22] varunsgandhi commented on #191
Yes it is in the same project i also checked that checkbox  , also we are using cloud version.

Here are the logs:

2021-09-07T09:07:58.0819513Z ##[section]Starting: Trigger a new build of Test Plan
2021-09-07T09:07:58.0827190Z ==============================================================================
2021-09-07T09:07:58.0827436Z Task         : Trigger Build
2021-09-07T09:07:58.0827971Z Descri

[2021-09-07 17:04] huserben commented on #191
Hi

I believe that Microsoft started to disable basic auth in faovr of alternative (and more secure) methods like Personal Access Tokens. I would certainly recommend to use PATs. See also [here](https://devblogs.microsoft.com/devops/azure-devops-will-no-longer-support-alternate-credentials-authentication/)

Could you post me the logs (ideally with System.Debug enabled) when you're running the buil

[2021-09-27 11:29] GitHubAre commented on #153
@huserben Hello, I think you have done this change after 3.1.1 version, right? I dont see this behavior working on 3.1.1 which is available on MarketPlace.
Do you plan to release 3.2.2 (I think this parameters feature is in 3.2.2)?